html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: white;
}
::-moz-selection {
  background-color: #ba55d3;
  color: white;
}
::selection {
  background-color: #ba55d3;
  color: white;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0 20px 15px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
h1 span {
  display: block;
}
h1 span:last-of-type {
  font-size: 30px;
}
h2 {
  font-size: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.intro {
  margin: 0 auto 100px;
  padding: 30px 15px;
  text-align: center;
  background: rgba(0,0,0,0.1);
}
.intro p {
  max-width: 500px;
  margin: 0 auto;
}
.stat {
  position: relative;
  font-size: 85px;
  font-weight: bold;
}
.stat.inline {
  display: inline-block;
}
.stat.inline + .inline {
  margin-left: 10px;
}
.stat.woman,
.stat.man {
  background: no-repeat left center;
  background-size: auto 50px;
  padding-left: 40px;
}
.stat.woman {
  background-image: url("../images/woman.svg");
}
.stat.man {
  background-image: url("../images/man.svg");
}
.stat .name {
  margin-left: 10px;
  padding: 8px 45px 6px 10px;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 40px;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}
.stat .name .avatar {
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  top: -32px;
  right: -45px;
}
.featured {
  margin-bottom: 80px;
  padding: 30px 0 20px;
  background: rgba(0,0,0,0.1);
  text-align: center;
}
.featured h2 {
  border: none;
}
.cf:before,
.grid:before,
.cf:after,
.grid:after {
  content: " ";
  display: table;
}
.cf:after,
.grid:after {
  clear: both;
}
.nav-main {
  height: 45px;
  padding: 10px 20px;
  position: relative;
  background: #333;
}
.nav-main a,
.nav-main label {
  color: white;
}
.nav-main .nav-home {
  float: left;
}
.nav-main input.menu-toggle {
  visibility: hidden;
  position: absolute;
  left: -100%;
}
.nav-main label {
  float: right;
  cursor: pointer;
}
.nav-main ul {
  display: none;
}
.nav-main ul > li {
  width: 8.33%;
  float: left;
}
.nav-main ul > li a {
  padding: 10px;
  display: block;
}
.nav-main ul > li span {
  display: block;
}
.nav-main ul > li span:first-of-type {
  font-size: 24px;
  font-weight: bold;
}
.nav-main ul > li span:nth-of-type(2) {
  font-size: 15px;
}
.nav-main .menu-toggle:checked ~ ul > li:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,0.3);
}
.nav-main .menu-toggle:checked ~ ul {
  width: 100%;
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  background-image: linear-gradient(to right, #4682b4, #c71585);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.grid {
  margin-bottom: 60px;
}
.grid .grid-item {
  padding: 0 25px;
  float: left;
}
.grid .grid-item.p0 {
  padding: 0;
}
.grid-item .grid:last-child {
  margin-bottom: 0;
}
.grid-five .grid-item {
  width: 20%;
}
.grid-four .grid-item {
  width: 25%;
}
.grid-three .grid-item {
  width: 33.33%;
}
.grid-two .grid-item {
  width: 50%;
}
.avatar {
  width: 175px;
  height: 175px;
  margin: 0 auto 10px;
  background: no-repeat;
  background-size: contain;
}
.season {
  padding: 20px;
}
.ranking {
  list-style: none;
}
.ranking li {
  width: 16.666%;
  margin-bottom: 20px;
  float: left;
  position: relative;
  text-align: center;
}
.ranking li .chef {
  width: 175px;
  height: 175px;
  margin: 0 auto 10px;
  background: no-repeat;
}
.ranking li:nth-child(1) .chef {
  background-position: 0 0;
}
.ranking li:nth-child(2) .chef {
  background-position: -175px 0;
}
.ranking li:nth-child(3) .chef {
  background-position: -350px 0;
}
.ranking li:nth-child(4) .chef {
  background-position: 0 -175px;
}
.ranking li:nth-child(5) .chef {
  background-position: -175px -175px;
}
.ranking li:nth-child(6) .chef {
  background-position: -350px -175px;
}
.ranking li:nth-child(7) .chef {
  background-position: 0 -350px;
}
.ranking li:nth-child(8) .chef {
  background-position: -175px -350px;
}
.ranking li:nth-child(9) .chef {
  background-position: -350px -350px;
}
.ranking li:nth-child(10) .chef {
  background-position: 0 -525px;
}
.ranking li:nth-child(11) .chef {
  background-position: -175px -525px;
}
.ranking li:nth-child(12) .chef {
  background-position: -350px -525px;
}
.ranking li:nth-child(13) .chef {
  background-position: 0 -700px;
}
.ranking li:nth-child(14) .chef {
  background-position: -175px -700px;
}
.ranking li:nth-child(15) .chef {
  background-position: -350px -700px;
}
.ranking li:nth-child(16) .chef {
  background-position: 0 -875px;
}
.ranking li:nth-child(17) .chef {
  background-position: -175px -875px;
}
.ranking li:nth-child(18) .chef {
  background-position: -350px -875px;
}
.ranking li:nth-child(19) .chef {
  background-position: 0 -1050px;
}
.ranking li:nth-child(20) .chef {
  background-position: -175px -1050px;
}
.ranking li span {
  margin-top: 30px;
  padding: 8px 10px 4px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}
.ranking li span:before {
  width: 80px;
  content: '';
  display: inline-block;
  top: -25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 0;
  border-top: 10px solid rgba(0,0,0,0.3);
  border-bottom: 10px solid rgba(0,0,0,0.3);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.ranking li span:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -24px;
  font-size: 14px;
}
.ranking li:first-child span:before {
  border-top-color: #ffd700;
  border-bottom-color: #ffd700;
}
.ranking li:first-child span:after {
  top: -24px;
  content: 'Winner';
  color: #a52a2a;
}
.ranking li:nth-child(2) span:after {
  content: '2nd';
}
.ranking li:nth-child(3) span:after {
  content: '3rd';
}
.ranking li:nth-child(4) span:after {
  content: '4th';
}
.ranking li:nth-child(5) span:after {
  content: '5th';
}
.ranking li:nth-child(6) span:after {
  content: '6th';
}
.ranking li:nth-child(7) span:after {
  content: '7th';
}
.ranking li:nth-child(8) span:after {
  content: '8th';
}
.ranking li:nth-child(9) span:after {
  content: '9th';
}
.ranking li:nth-child(10) span:after {
  content: '10th';
}
.ranking li:nth-child(11) span:after {
  content: '11th';
}
.ranking li:nth-child(12) span:after {
  content: '12th';
}
.ranking li:nth-child(13) span:after {
  content: '13th';
}
.ranking li:nth-child(14) span:after {
  content: '14th';
}
.ranking li:nth-child(15) span:after {
  content: '15th';
}
.ranking li:nth-child(16) span:after {
  content: '16th';
}
.ranking li:nth-child(17) span:after {
  content: '17th';
}
.ranking li:nth-child(18) span:after {
  content: '18th';
}
.ranking li:nth-child(19) span:after {
  content: '19th';
}
.ranking li:nth-child(20) span:after {
  content: '20th';
}
footer {
  background: #333;
  min-height: 300px;
}
.p0 {
  padding: 0;
}
.m0 {
  margin: 0;
}
.center {
  text-align: center;
}
.home {
  background: linear-gradient(170deg, #4682b4 0, #008b8b 50%, #c71585 100%);
}
.world-map {
  height: 350px;
  background: url("../images/world-map.svg") no-repeat center center;
  background-size: contain;
}
.season-01 {
  background: #c71585;
}
.season-01 .ranking li .chef {
  background-image: url("/images/season-01.png");
  background-size: 525px 700px;
}
.season-02 {
  background: #4682b4;
}
.season-02 .ranking li .chef {
  background-image: url("/images/season-02.png");
  background-size: 525px 875px;
}
.season-03 {
  background: #40e0d0;
}
.season-03 .ranking li .chef {
  background-image: url("/images/season-03.png");
  background-size: 525px 875px;
}
.season-04 {
  background: #800080;
}
.season-04 .ranking li .chef {
  background-image: url("/images/season-04.png");
  background-size: 525px 1051px;
}
.season-05 {
  background: #ee82ee;
}
.season-05 .ranking li .chef {
  background-image: url("/images/season-05.png");
  background-size: 525px 1051px;
}
.season-06 {
  background: #4682b4;
}
.season-06 .ranking li .chef {
  background-image: url("/images/season-06.png");
  background-size: 525px 1050px;
}
.season-07 {
  background: #4682b4;
}
.season-07 .ranking li .chef {
  background-image: url("/images/season-07.png");
  background-size: 525px 1050px;
}
.season-08 {
  background: #008080;
}
.season-08 .ranking li .chef {
  background-image: url("/images/season-08.png");
  background-size: 525px 1050px;
}
.season-09 {
  background: #40e0d0;
}
.season-09 .ranking li .chef {
  background-image: url("/images/season-09.png");
  background-size: 525px 1050px;
}
.season-10 {
  background: #800000;
}
.season-10 .ranking li .chef {
  background-image: url("/images/season-10.png");
  background-size: 525px 1050px;
}
.season-11 {
  background: #008080;
}
.season-11 .ranking li .chef {
  background-image: url("/images/season-11.png");
  background-size: 525px 1225px;
}
.season-12 {
  background: #008000;
}
.season-12 .ranking li .chef {
  background-image: url("/images/season-12.png");
  background-size: 525px 1050px;
}
