@import 'globals/reset'
@import 'globals/variables'

@import 'components/base'
@import 'components/nav'
@import 'components/grid'
@import 'components/avatars'
@import 'components/season'
@import 'components/ranking'
@import 'components/footer'
@import 'components/helpers'

@import 'views/home'
@import 'views/season-01'
@import 'views/season-02'
@import 'views/season-03'
@import 'views/season-04'
@import 'views/season-05'
@import 'views/season-06'
@import 'views/season-07'
@import 'views/season-08'
@import 'views/season-09'
@import 'views/season-10'
@import 'views/season-11'
@import 'views/season-12'