@import 'globals/reset'
@import 'globals/variables'

@import 'components/base'
@import 'components/nav'
@import 'components/grid'
@import 'components/avatars'
@import 'components/icons'
@import 'components/stats'
@import 'components/ranking'
@import 'components/footer'
@import 'components/helpers'

@import 'views/home'
@import 'views/season'
@import 'views/glossary'