@import 'globals/reset'
@import 'globals/variables'

@import 'components/base'
@import 'components/nav'
@import 'components/season'
@import 'components/ranking'

@import 'seasons/season-01'
@import 'seasons/season-02'
@import 'seasons/season-03'
@import 'seasons/season-04'
@import 'seasons/season-05'
@import 'seasons/season-06'
@import 'seasons/season-07'
@import 'seasons/season-08'
@import 'seasons/season-09'
@import 'seasons/season-10'
@import 'seasons/season-11'
@import 'seasons/season-12'