extends ../layout

block title
  | | Season 12

block content

  .season.season-12

    h1
      span Season 12
      span Boston

    ol.ranking.cf
      li
        div.chef
        span Mei Lin
      li
        div.chef
        span Gregory Gourdet
      li
        div.chef
        span Doug Adams
      li
        div.chef
        span Melissa King
      li
        div.chef
        span George Pagonis
      li
        div.chef
        span Katsuji Tanabe
      li
        div.chef
        span Adam Harvey
      li
        div.chef
        span Katie Weinner
      li
        div.chef
        span Keriann Von Raesfeld
      li
        div.chef
        span Stacy Cogswell
      li
        div.chef
        span Aaron Grissom
      li
        div.chef
        span James Rigato
      li
        div.chef
        span Rebecca LaMalfa
      li
        div.chef
        span Ron Eyester
      li
        div.chef
        span Joy Crump
      li
        div.chef
        span Michael Patlazhan
