extends ../layout

block title
  | | Season 14

block content

  .season.season-14

    .intro
      h1
        span Season 14
        span Charleston

    .grid.cf

      ol.ranking.current.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span Amanda Baumgarten
        li
          div.chef
          span Silvia Barban
        li
          div.chef
          span BJ Smith
        li
          div.chef
          span Sam Talbot
        li
          div.chef
          span Annie Pettry
        li
          div.chef
          span Gerald Sombright

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/gail-simmons.png')
            img.avatar(src='/images/richard-blais-s8.png')
            img.avatar(src='/images/graham-elliot-bowles.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 8

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 12

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 5

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 2
            .name Brooke Williamson
              img.avatar(src='/images/brooke-williamson-s14.png')

        .stat.person.grid-item.grid-sm-1
          h2 Most Elimination Wins
          .number 1
            .roster
              img.avatar(src='/images/casey-thompson-s14.png')
              img.avatar(src='/images/john-tesar-s14.png')
              img.avatar(src='/images/katsuji-tanabe-s14.png')
              img.avatar(src='/images/sylva-senat.png')
              img.avatar(src='/images/brooke-williamson-s14.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 3
            .name Brooke Williamson
              img.avatar(src='/images/brooke-williamson-s14.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Mise en place Relay Race Winner
          .number 1
            .name Sheldon Simeon
              img.avatar(src='/images/sheldon-simeon-s14.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 0
            //- .name Name
            //-   img.avatar(src='/images/name.png')

        //- .featured.relay-race
        //-   h2 Tag-Team Cook-Off Winner
        //-   .phrase Blue Team
        //-   .roster.center
        //-     img.avatar(src='/images/amar-santana.png')
        //-     img.avatar(src='/images/renee-kelly.png')
        //-     img.avatar(src='/images/frances-tariga-weshnak.png')

        //- .featured.restaurant-wars
        //-   h2 Restaurant Wars Winner
        //-   .phrase Palate
        //-   .roster.center
        //-     .winner
        //-       img.avatar(src='/images/isaac-toups.png')
        //-     img.avatar(src='/images/carl-dooley.png')
        //-     img.avatar(src='/images/karen-akunowicz.png')
        //-     img.avatar(src='/images/marjorie-meek-bradley.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Eliminated in Restaurant Wars
        //-   .number 1
        //-     .name Phillip Frankland Lee
        //-       img.avatar(src='/images/phillip-frankland-lee.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Total Wins With Immunity
        //-   .number 0
            //- .roster
            //-   img.avatar(src='/images/name.png')
            //-   img.avatar(src='/images/name.png')

        //- .featured.relay-race
        //-   h2 Pop Up Pandemonium Winner
        //-   .phrase Persian Team
        //-   .roster.center
        //-     .winner
        //-       img.avatar(src='/images/marjorie-meek-bradley.png')
        //-     img.avatar(src='/images/amar-santana.png')
        //-     img.avatar(src='/images/isaac-toups.png')
        //-     img.avatar(src='/images/angelina-bastidas.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Last Chance Kitchen Winner
        //-   .number 1
        //-     .name Amar Santana
        //-       img.avatar(src='/images/amar-santana.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 2
            .roster
              img.avatar(src='/images/sam-talbot-s14.png')
              img.avatar(src='/images/silvia-barban.png')

        //- .stat.person.grid-item.grid-sm-1
        //-   h2 Most Cash Won by a Non-Winner
        //-   .number $0k
        //-     .name Name
        //-       img.avatar(src='/images/name.png')

        //- .featured.finale
        //-   h2 Finale Location
        //-   .phrase Las Vegas
