extends ../layout

block title
  | | Season 10

block content

  .season.season-10

    .intro
      h1
        span Season 10
        span Seattle

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Kristen Kish
        li
          div.chef
          span Brooke Williamson
        li.fan-fave
          div.chef
          span Sheldon Simeon
        li
          div.chef
          span Joshua Valentine
        li
          div.chef
          span Lizzie Binder
        li
          div.chef
          span Stefan Richter
        li
          div.chef
          span Josie Smith-Malave
        li
          div.chef
          span Micah Fields
        li
          div.chef
          span John Tesar
        li
          div.chef
          span Bart Vandaele
        li
          div.chef
          span Danyele McPherson
        li
          div.chef
          span Eliza Gavin
        li
          div.chef
          span C.J. Jacobsen
        li
          div.chef
          span Tyler Wiard
        li
          div.chef
          span Carla Pellegrino
        li
          div.chef
          span Chrissy Camba
        li
          div.chef
          span Kuniko Yagi
        li
          div.chef
          span Jeffrey Jew


      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.roster.grid-item.grid-sm-1
          h2 Host & Judges
          img.avatar(src='/images/padma-lakshmi.png')
          img.avatar(src='/images/tom-colicchio.png')
          img.avatar(src='/images/gail-simmons.png')
          img.avatar(src='/images/emeril-lagasse.png')
          img.avatar(src='/images/hugh-acheson.png')
          img.avatar(src='/images/wolfgang-puck.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 16

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 4
            .name Sheldon Simeon
              img.avatar(src='/images/sheldon-simeon.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 5
            .roster
              img.avatar(src='/images/brooke-williamson.png')
              img.avatar(src='/images/kristen-kish.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 8
            .name Brooke Williamson
              img.avatar(src='/images/brooke-williamson.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Wins With Immunity
          .number 2
            .roster
              img.avatar(src='/images/brooke-williamson.png')
              img.avatar(src='/images/kristen-kish.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .number Urbano
          .roster.center
            .winner
              img.avatar(src='/images/sheldon-simeon.png')
            img.avatar(src='/images/john-tesar.png')
            img.avatar(src='/images/stefan-richter-s10.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Kristen Kish
              img.avatar(src='/images/kristen-kish.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Risotto
          .number 1
            .name John Tesar
              img.avatar(src='/images/john-tesar.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number 1
            .name Kristen Kish
              img.avatar(src='/images/kristen-kish.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 7
            .name C.J. Jacobsen
              img.avatar(src='/images/cj-jacobsen-s10.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Cars Won
          .number 2
            .roster
              img.avatar(src='/images/brooke-williamson.png')
              img.avatar(src='/images/sheldon-simeon.png')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number $15k
            .name Sheldon Simeon
              img.avatar(src='/images/sheldon-simeon.png')

        .featured.finale
          h2 Finale Location
          .number Juneau