extends ../layout

block title
  | | Season 10

block content

  .season.season-10

    h1
      span Season 10
      span Seattle

    ol.ranking.cf
      li
        div.chef
        span Kristen Kish
      li
        div.chef
        span Brooke Williamson
      li
        div.chef
        span Sheldon Simeon
      li
        div.chef
        span Joshua Valentine
      li
        div.chef
        span Lizzie Binder
      li
        div.chef
        span Stefan Richter
      li
        div.chef
        span Josie Smith-Malave
      li
        div.chef
        span Micah Fields
      li
        div.chef
        span John Tesar
      li
        div.chef
        span Bart Vandaele
      li
        div.chef
        span Danyele McPherson
      li
        div.chef
        span Eliza Gavin
      li
        div.chef
        span C.J. Jacobsen
      li
        div.chef
        span Tyler Wiard
      li
        div.chef
        span Carla Pellegrino
      li
        div.chef
        span Chrissy Camba
      li
        div.chef
        span Kuniko Yagi
      li
        div.chef
        span Jeffrey Jew
