extends layout

block content

  .season.home

    .intro.center
      h1 Top Chef Stats
      h2 Compiled stats and facts across 13 seasons.
      p Explore the entire series or select a specific season.

    .grid

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Seasons
        .number 13
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Hosts
        .number 2
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Judges
        .number 10


      .stat.grid-item.grid-sm-2
        h2 Total Chefs
        .number 191
      .stat.grid-item.grid-sm-2
        h2 Gender Breakdown
        .number
          span.icon.man 103
          span.icon.woman 88

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Guest Judges
        .number 158
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Frequent Guest Judge
        .number 9
          .roster
            img.avatar(src='/images/john-besh.png')
            img.avatar(src='/images/eric-ripert.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Frequent Finale Diner
        .number 4
          .name Hubert Keller
            img.avatar(src='/images/hubert-keller.png')

      .stat.grid-item.grid-sm-1.grid-lg-2
        img(src='/images/world-map.svg')
      .grid-item.grid-sm-1.grid-lg-2.p0.m0
        .stat.grid-item.grid-sm-2
          h2 Total Cities
          .number 26
        .stat.grid-item.grid-sm-2
          h2 Total Countries
          .number 5
        .stat.grid-item.grid-sm-2
          h2 Chefs from California
          .number 49
        .stat.grid-item.grid-sm-2
          h2 Chefs from New York
          .number 34

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Chef Age
        .number 32
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Youngest Chef
        .number 21
          .name Patrick Dunlea
            img.avatar(src='/images/patrick-dunlea.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Oldest Chef
        .number 54
          .name John Tesar
            img.avatar(src='/images/john-tesar.png')

      .featured.cf
        h2 Chefs Who Are 
        .phrase “Not here to make friends.”
        .roster
          img.avatar(src='/images/tiffani-faison-s1.png')
          img.avatar(src='/images/marcel-vigneron-s2.png')
          img.avatar(src='/images/dale-talde-s4.png')
          img.avatar(src='/images/robin-leventhal.png')
          img.avatar(src='/images/carlos-gaytan.png')

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Quickfire Time (min)
        .number 44
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges with a Knife Pull
        .number 72
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges Cooking for Kids
        .number 12

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Quickfire Wins
        .number 5
          .roster
            img.avatar(src='/images/sam-talbot.png')
            img.avatar(src='/images/gregory-gourdet.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Elimination Wins
        .number 9
          .name Paul Qui
            img.avatar(src='/images/paul-qui.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Overall Wins
        .number 11
          .name Paul Qui
            img.avatar(src='/images/paul-qui.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Top Chef with Least Wins
        .number 3
          .name Kevin Sbraga
            img.avatar(src='/images/kevin-sbraga.png')
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges Won with Immunity
        .number 13
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Best Last Chance Kitchen Streak
        .number 8
          .name Louis Maldonado
            img.avatar(src='/images/louis-maldonado.png')

      .featured.phrase-list.cf
        .phrase “This is Top Chef, Not _________.”
        .grid-item.grid-sm-2.left
          p Top Sous Chef
            span S 01
          p Top Sommelier
            span S 01
          p Top Captain
            span S 01
          p Top Waiter
            span S 01
          p Top Cook
            span S 03
          p Top Line Cook
            span S 13
          p Top Pussy
            span S 05
          p Top Scallops
            span S 05
        .grid-item.grid-sm-2.left
          p A Personality Contest
            span S 02
          p A Popularity Contest
            span S 04
          p A Housewives’ Cooking Competition
            span S 01
          p Culinary Bootcamp Vacation
            span S 11
          p Fun and Games and Hot Air Balloons
            span S 03
          p A Wet T-shirt Contest
            span S 11
          p A Butt-Rubbing Contest
            span S 05

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Top Chef Voted Fan Fave
        .number 1
          .name Stephanie Izard
            img.avatar(src='/images/stephanie-izard.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Chef Turned Judge
        .number 1
          .name Richard Blais
            img.avatar(src='/images/richard-blais-s8.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Also Competed on Masters
        .number 1
          .name Bryan Voltaggio
            img.avatar(src='/images/bryan-voltaggio.png')

      //- .stat.grid-item.grid-sm-2.grid-lg-3
      //-   h2 Chefs Who Return for Another Season
      //-   .number 21

      .featured.cf
        h2 Chefs Described As
        .phrase “A force to be reckoned with.”
        .roster
          img.avatar(src='/images/marcel-vigneron-s2.png')
          img.avatar(src='/images/stephanie-izard.png')
          img.avatar(src='/images/zoi-antonitsas.png')
          img.avatar(src='/images/kevin-gillespie.png')
          img.avatar(src='/images/jennifer-carroll-s6.png')
          img.avatar(src='/images/angelo-sosa-s7.png')
          img.avatar(src='/images/tre-wilcox-s8.png')
          img.avatar(src='/images/carla-hall-s8.png')
          img.avatar(src='/images/richie-farina.png')
          img.avatar(src='/images/grayson-schmitz.png')
          img.avatar(src='/images/brooke-williamson.png')
          img.avatar(src='/images/nina-compton.png')
          img.avatar(src='/images/justin-devillier.png')
          img.avatar(src='/images/gregory-gourdet.png')
          img.avatar(src='/images/mei-lin.png')
          img.avatar(src='/images/jeremy-ford.png')

      .featured
        h2 Total Cash Money Given Away
        .number $2,070,000

      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Top Chef
        .number $225k
          .name Richard Blais
            img.avatar(src='/images/richard-blais-s8.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Non-Winner
        .number $45k
          .name Kevin Gillespie
            img.avatar(src='/images/kevin-gillespie.png')

      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Trips Won
        .number 27
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Cars Won
        .number 12
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Cookbooks Won
        .number 32
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Knives Won
        .number 22

      .featured
        h2 Challenges Won with a Dessert
        .number 33

      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Won with Scallops
        .number 12
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Won with Risotto
        .number 5
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Won with Soup
        .number 25
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Won with Sandwiches
        .number 11

      .featured
        h2 Chefs Eliminated for a Dessert
        .number 11

      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Scallops
        .number 6
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Risotto
        .number 5
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Soup
        .number 8
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Burgers
        .number 6

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Emmy Nominations
        .number 24
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Emmy Wins
        .number 2
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Official Top Chef Cookbooks
        .number 3