extends layout

block content

  .season.home

    .intro
      h1 Top Chef Stats
      p A just-for-fun analysis of every season of Top Chef made by a... dedicated fan. Yes, let’s go with dedicated. Explore stats from the entire series below or choose a specific season.

    .grid.grid-three
      .grid-item
        h2 Total Seasons
        .stat 12
      .grid-item
        h2 Total Hosts
        .stat 2
      .grid-item
        h2 Total Judges
        .stat 10

    .grid.grid-two
      .grid-item
        h2 Total Chefs
        .stat 175
      .grid-item
        h2 Gender Breakdown
        .stat.inline.man 93
        .stat.inline.woman 82

    .grid.grid-three
      .grid-item
        h2 Total Guest Judges
        .stat 155
      .grid-item
        h2 Most Frequent Guest Judge
        .stat 9
          .name Eric Ripert
            img.avatar(src='/images/eric-ripert.png')
      .grid-item
        h2 Most Frequent Finale Diner
        .stat 4
          .name Hubert Keller
            img.avatar(src='/images/hubert-keller.png')

    .grid.grid-two
      .grid-item.world-map
      .grid-item.p0
        .grid.grid-two
          .grid-item
            h2 Total Cities
            .stat 23
          .grid-item
            h2 Total Countries
            .stat 5
        .grid.grid-two
          .grid-item
            h2 Chefs from California
            .stat 45
          .grid-item
            h2 Chefs from New York
            .stat 32

    .grid.grid-three
      .grid-item
        h2 Youngest Chef
        .stat 21
          .name Patrick Dunlea
            img.avatar(src='/images/patrick-dunlea.png')
      .grid-item
        h2 Oldest Chef
        .stat 54
          .name John Tesar
            img.avatar(src='/images/john-tesar.png')
      .grid-item
        h2 Most Quickfire Wins
        .stat 5
          .name Sam Talbot
            img.avatar(src='/images/sam-talbot.png')

    .grid.grid-three
      .grid-item
        h2 Most Quickfire Wins
        .stat 5
          .name Gregory Gourdet
            img.avatar(src='/images/gregory-gourdet.png')
      .grid-item
        h2 Most Elimination Wins
        .stat 9
          .name Paul Qui
            img.avatar(src='/images/paul-qui.png')
      .grid-item
        h2 Most Overall Wins
        .stat 11
          .name Paul Qui
            img.avatar(src='/images/paul-qui.png')

    .grid.grid-three
      .grid-item
        h2 Top Chef with Least Wins
        .stat 3
          .name Kevin Sbraga
            img.avatar(src='/images/kevin-sbraga.png')
      .grid-item
        h2 Challenges Won with Immunity
        .stat 5
      .grid-item
        h2 Best Last Chance Kitchen Streak
        .stat 8
          .name Louis Maldonado
            img.avatar(src='/images/louis-maldonado.png')

    .grid.grid-three
      .grid-item
        h2 Top Chef Voted Fan Fave
        .stat 1
          .name Stephanie Izard
            img.avatar(src='/images/stephanie-izard.png')
      .grid-item
        h2 Chef Turned Judge
        .stat 1
          .name Richard Blais
            img.avatar(src='/images/richard-blais.png')
      .grid-item
        h2 Also Competed on Masters
        .stat 1
          .name Bryan Voltaggio
            img.avatar(src='/images/bryan-voltaggio.png')

    .featured
      h2 Total Cash Money Given Away
      .stat $2,070,000

    .grid.grid-two
      .grid-item
        h2 Most Cash Won by a Top Chef
        .stat $225k
          .name Richard Blais
            img.avatar(src='/images/richard-blais.png')
      .grid-item
        h2 Most Cash Won by a Non-Winner
        .stat $45k
          .name Kevin Gillespie
            img.avatar(src='/images/kevin-gillespie.png')

    .grid.grid-five
      .grid-item
        h2 Trips Won
        .stat 26
      .grid-item
        h2 Bottles of Wine Won
        .stat 371
      .grid-item
        h2 Cars Won
        .stat 12
      .grid-item
        h2 Cookbooks Won
        .stat 32
      .grid-item
        h2 Knives Won
        .stat 22

    .featured
      h2 Chefs Eliminated for a Dessert
      .stat 11

    .grid.grid-four
      .grid-item
        h2 Eliminated for Pork
        .stat 14
      .grid-item
        h2 Eliminated for Risotto
        .stat 5
      .grid-item
        h2 Eliminated for Soup
        .stat 8
      .grid-item
        h2 Eliminated for Burgers
        .stat 6