extends layout

block content

  .season.home

    .intro
      h1 Top Chef Stats
      p A just-for-fun analysis of every season of Top Chef made by an enthusiastic fan. Yes, let’s go with enthusiastic. Explore stats from the entire series below or select a specific season.
      p Curious about the numbers? 
        a(href='/about') Read the FAQ.

    .grid

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Seasons
        .number 12
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Hosts
        .number 2
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Judges
        .number 10

      .stat.grid-item.grid-sm-2
        h2 Total Chefs
        .number 175
      .stat.grid-item.grid-sm-2
        h2 Gender Breakdown
        .number
          span.icon.man 93
          span.icon.woman 82

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Guest Judges
        .number 155
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Frequent Guest Judge
        .number 9
          .name Eric Ripert
            img.avatar(src='/images/eric-ripert.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Frequent Finale Diner
        .number 4
          .name Hubert Keller
            img.avatar(src='/images/hubert-keller.png')

      .stat.grid-item.grid-sm-1.grid-lg-2
        img(src='/images/world-map.svg')
      .grid-item.grid-sm-1.grid-lg-2.p0.m0
        .stat.grid-item.grid-sm-2
          h2 Total Cities
          .number 23
        .stat.grid-item.grid-sm-2
          h2 Total Countries
          .number 5
        .stat.grid-item.grid-sm-2
          h2 Chefs from California
          .number 45
        .stat.grid-item.grid-sm-2
          h2 Chefs from New York
          .number 32

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Youngest Chef
        .number 21
          .name Patrick Dunlea
            img.avatar(src='/images/patrick-dunlea.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Oldest Chef
        .number 54
          .name John Tesar
            img.avatar(src='/images/john-tesar.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Quickfire Wins
        .number 5
          .name Sam Talbot
            img.avatar(src='/images/sam-talbot.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Quickfire Wins
        .number 5
          .name Gregory Gourdet
            img.avatar(src='/images/gregory-gourdet.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Elimination Wins
        .number 9
          .name Paul Qui
            img.avatar(src='/images/paul-qui.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Overall Wins
        .number 11
          .name Paul Qui
            img.avatar(src='/images/paul-qui.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Top Chef with Least Wins
        .number 3
          .name Kevin Sbraga
            img.avatar(src='/images/kevin-sbraga.png')
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges Won with Immunity
        .number 13
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Best Last Chance Kitchen Streak
        .number 8
          .name Louis Maldonado
            img.avatar(src='/images/louis-maldonado.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Top Chef Voted Fan Fave
        .number 1
          .name Stephanie Izard
            img.avatar(src='/images/stephanie-izard.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Chef Turned Judge
        .number 1
          .name Richard Blais
            img.avatar(src='/images/richard-blais.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Also Competed on Masters
        .number 1
          .name Bryan Voltaggio
            img.avatar(src='/images/bryan-voltaggio.png')

      .featured
        h2 Total Cash Money Given Away
        .number $2,070,000

      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Top Chef
        .number $225k
          .name Richard Blais
            img.avatar(src='/images/richard-blais.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Non-Winner
        .number $45k
          .name Kevin Gillespie
            img.avatar(src='/images/kevin-gillespie.png')

      .stat.grid-item.grid-sm-2.grid-lg-5
        h2 Trips Won
        .number 26
      .stat.grid-item.grid-sm-2.grid-lg-5
        h2 Bottles of Wine Won
        .number 371
      .stat.grid-item.grid-sm-2.grid-lg-5
        h2 Cars Won
        .number 12
      .stat.grid-item.grid-sm-2.grid-lg-5
        h2 Cookbooks Won
        .number 32
      .stat.grid-item.grid-sm-2.grid-lg-5
        h2 Knives Won
        .number 22

      .featured
        h2 Chefs Eliminated for a Dessert
        .number 11

      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Pork
        .number 14
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Risotto
        .number 5
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Soup
        .number 8
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Burgers
        .number 6