doctype
html

  block vars

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Top Chef Stats 
      block title
    meta(name='description', content='')
    link(rel='stylesheet', href='/css/main.css')
    //- include ./includes/typekit.html

    //- meta(property='og:site_name', content='Airport Codes')
    //- meta(property='og:url', content='http://airportcod.es')
    //- meta(property='og:description', content='Making sense of those three-letter airport codes.')
    //- meta(property='og:image', content='http://airportcod.es/images/facebook-airport-codes.png')
    //- meta(property='og:type', content='website')

  body

    include includes/nav

    block content

    //- include ./includes/ga.html