.glossary-list
  max-width: 550px
  margin: 0 auto 40px

  dt
    margin-bottom: 10px
    font-weight: bold
    font-size: 20px

  dd
    margin-bottom: 40px

  p
    margin-left: 20px
    margin-bottom: 20px

  ol
    list-style: decimal
    padding-left: 45px

    li
      margin-bottom: 10px