.home
  background: linear-gradient(170deg, steelblue 0,
                                         darkcyan 50%,
                                         mediumvioletred 100%)

// .world-map
//   height: 350px
//   background: url(../images/world-map.svg) no-repeat center center
//   background-size: contain