.season
  background: linear-gradient(175deg, darkcyan 0,
                                         mediumvioletred 100%)
  padding: 20px

  &.home
    background: linear-gradient(170deg, steelblue 0,
                                         darkcyan 50%,
                                         mediumvioletred 100%)

  &.glossary,
  &.four-oh-four
    background: linear-gradient(170deg, steelblue 0,
                                         darkcyan 50%)

  &.masters
    background: linear-gradient(170deg, mediumvioletred 0,
                                         darkcyan 50%,
                                         steelblue 100%)

.season-01
  .ranking li .chef
    background-image: url('/images/season-01.png')

.season-02
  .ranking li .chef
    background-image: url('/images/season-02.png')

.season-03
  .ranking li .chef
    background-image: url('/images/season-03.png')

.season-04
  .ranking li .chef
    background-image: url('/images/season-04.png')

.season-05
  .ranking li .chef
    background-image: url('/images/season-05.png')

.season-06
  .ranking li .chef
    background-image: url('/images/season-06.png')

.season-07
  .ranking li .chef
    background-image: url('/images/season-07.png')

.season-08
  .ranking li .chef
    background-image: url('/images/season-08.png')

.season-09
  .ranking li .chef
    background-image: url('/images/season-09.png')

.season-10
  .ranking li .chef
    background-image: url('/images/season-10.png')

.season-11
  .ranking li .chef
    background-image: url('/images/season-11.png')

.season-12
  .ranking li .chef
    background-image: url('/images/season-12.png')

.season-13
  .ranking li .chef
    background-image: url('/images/season-13.png')