.season-01
  background: linear-gradient(170deg, darkcyan 0,
                                         mediumvioletred 50%,
                                         steelblue 100%)

  .ranking

    li .chef
      background-image: url('/images/season-01.png')
