extends ../layout

block title
  | | Season 11

block content

  .season.season-11

    h1
      span Season 11
      span New Orleans

    ol.ranking.cf
      li
        div.chef
        span Nicholas Elmi
      li
        div.chef
        span Nina Compton
      li
        div.chef
        span Shirley Chung
      li
        div.chef
        span Louis Maldonado
      li
        div.chef
        span Carlos Gaytan
      li
        div.chef
        span Brian Huskey
      li
        div.chef
        span Stephanie Cmar
      li
        div.chef
        span Carrie Mashaney
      li
        div.chef
        span Justin Devillier
      li
        div.chef
        span Travis Masar
      li
        div.chef
        span Sara Johannes
      li
        div.chef
        span Patty Vega
      li
        div.chef
        span Bene Bartolotta
      li
        div.chef
        span Michael Sichel
      li
        div.chef
        span Janine Booth
      li
        div.chef
        span Bret Pelaggi
      li
        div.chef
        span Aaron Cuschieri
      li
        div.chef
        span Jason Cichonski
      li
        div.chef
        span Ramon Bojorquez
