// Base styling

*, *:after, *:before
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  font-size: 100%

body
  font-family: $font-family-helvetica
  line-height: 1.4
  font-size: 112.5%
  color: white
  background: #333

::selection
  background-color: mediumorchid
  color: white

h1, p
  margin-bottom: 20px

h1
  font-weight: bold

a
  display: inline-block
  text-decoration: none
  color: cyan

p a
  border-bottom: 1px dotted transparent
  &:hover
    border-bottom: 1px dotted cyan

p
  margin: 0 0 20px

em
  font-style: italic

img:not(.avatar)
  width: 100%
  max-width: 100%

.footnote
  font-size: .8em
  color: white(.6)

hr
  height: 1px
  margin: 0 0 50px
  border: 1px dashed black(.2)

strong
  font-weight: bold

sup
  vertical-align: super
  font-size: .5em

// Clearfix
.cf,
.grid
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both
