footer
  padding: 40px 20px 20px
  background: #333
  text-align: center

  p
    margin-bottom: 20px

  .coffee
    font-size: 90%

    span,
    a
      display: inline-block

    a
      margin-left: 25px
      position: relative

    a:before
      content: ''
      height: 20px
      width: 20px
      left: -25px
      top: 1px
      display: block
      position: absolute
      background: no-repeat url('/images/coffee.svg') 5px center
      background-size: auto 20px
