.icon
  background: no-repeat left top

  &.woman
    background-image: url(../images/woman.svg)
  &.man
    background-image: url(../images/man.svg)

  @media screen and (max-width: $bp-small)

    &.woman,
    &.man
      background-position: left 9px
      background-size: auto 23px
      padding-left: 23px

  @media screen and (min-width: $bp-small + 1)

    &.woman,
    &.man
      background-position: left center
      background-size: auto 50px
      padding-left: 40px
