.intro
  margin: 0 auto 30px
  padding: 30px 15px 20px
  background: black(.1)
  text-align: center

  @media screen and (min-width: $bp-small + 1) and (max-width: $bp-large)
    margin-bottom: 60px
  @media screen and (min-width: $bp-large + 1)
    margin-bottom: 100px

  img
    width: auto
    height: 50px
    margin: 0 auto
    display: inline-block

    &.knife
      height: 80px

  h1
    @media screen and (max-width: 500px)
      font-size: 2em
    @media screen and (min-width: 501px)
      font-size: 2.5em

    span
      display: block
    span:last-child
      font-size: .5em
      font-weight: normal

  h2
    margin-bottom: 20px
    font-size: 1.3em

  p
    max-width: 500px
    margin-left: auto
    margin-right: auto
