$nav-border = 1px solid white(.3)

.nav-seasons
  width: 100%
  background-image: linear-gradient(to right, steelblue, darkcyan)
  border-top: $nav-border
  border-bottom: $nav-border
  box-shadow: 0 3px 3px black(.2)

  li
    float: left
    border-right: $nav-border

    a
      padding: 10px
      display: block
      color: white

      &:hover
        background: black(.1)

    span
      display: block

    span:first-of-type
      font-size: 24px
      font-weight: bold

    span:nth-of-type(2)
      font-size: 15px

@media screen and (max-width: 400px)

  .nav-seasons li
    width: 25%

    &:nth-child(-n+16)
      border-bottom: $nav-border

    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(16)
      border-right: none

@media screen and (min-width: 401px) and (max-width: 650px)

  .nav-seasons li
    width: 20%

    &:nth-child(-n+15)
      border-bottom: $nav-border

    &:nth-child(5),
    &:nth-child(10)
      border-right: none

    &:nth-child(17)
      width: 40%

@media screen and (min-width: 651px) and (max-width: 1200px)

  .nav-seasons li
    width: 16.66%

    &:nth-child(-n+12)
      border-bottom: $nav-border

    &:nth-child(6n)
      border-right: none

@media screen and (min-width: 1201px)

  .nav-seasons li
    width: 11.111%

    &:nth-child(-n+16)
      border-bottom: $nav-border

    &:nth-child(9)
      border-right: none
