$nav-border = 1px solid white(.3)

.nav-seasons
  width: 100%
  display: flex
  flex-wrap: wrap
  background-image: linear-gradient(to right, steelblue, darkcyan)
  border-top: $nav-border
  border-bottom: $nav-border
  box-shadow: 0 3px 3px black(.2)

  li
    border-right: $nav-border
    display: flex

    a
      width:100%
      padding: 10px
      display: block
      color: white

      &:hover
        background: black(.1)

    span
      display: block

    span:first-of-type
      font-size: 1.3em
      font-weight: bold

    span:nth-of-type(2)
      font-size: .8em

@media screen and (max-width: 400px)

  .nav-seasons li
    width: 25%

    &:nth-child(-n+20)
      border-bottom: $nav-border

    &:nth-child(4n)
      border-right: none

@media screen and (min-width: 401px) and (max-width: 650px)

  .nav-seasons li
    width: 20%

    &:nth-child(-n+20)
      border-bottom: $nav-border

    &:nth-child(5n)
      border-right: none

@media screen and (min-width: 651px) and (max-width: 950px)

  .nav-seasons li
    width: 16.66%

    &:nth-child(-n+18)
      border-bottom: $nav-border

    &:nth-child(6n)
      border-right: none

@media screen and (min-width: 951px)

  .nav-seasons li
    width: 14.28%

    &:nth-child(-n+14)
      border-bottom: $nav-border

    &:nth-child(7n)
      border-right: none
