.ranking
  list-style: none

  li
    width: 100%
    margin: 0 0 15px
    padding: 25px 0
    padding-left: 60px
    position: relative
    background-image: linear-gradient(to right, black(0) 20px, black(.2) 20px)
    border-radius: 0 3px 3px 0
    font-size: .9em

    .chef
      width: 90px
      height: @width
      position: absolute
      top: -10px
      background: no-repeat
      background-size: 270px auto

    &:nth-child(1) .chef
      background-position: 0 0
    &:nth-child(2) .chef
      background-position: -90px 0
    &:nth-child(3) .chef
      background-position: -180px 0
    &:nth-child(4) .chef
      background-position: 0 -90px
    &:nth-child(5) .chef
      background-position: -90px -90px
    &:nth-child(6) .chef
      background-position: -180px -90px
    &:nth-child(7) .chef
      background-position: 0 -180px
    &:nth-child(8) .chef
      background-position: -90px -180px
    &:nth-child(9) .chef
      background-position: -180px -180px
    &:nth-child(10) .chef
      background-position: 0 -270px
    &:nth-child(11) .chef
      background-position: -90px -270px
    &:nth-child(12) .chef
      background-position: -180px -270px
    &:nth-child(13) .chef
      background-position: 0 -360px
    &:nth-child(14) .chef
      background-position: -90px -360px
    &:nth-child(15) .chef
      background-position: -180px -360px
    &:nth-child(16) .chef
      background-position: 0 -450px
    &:nth-child(17) .chef
      background-position: -90px -450px
    &:nth-child(18) .chef
      background-position: -180px -450px
    &:nth-child(19) .chef
      background-position: 0 -540px
    &:nth-child(20) .chef
      background-position: -90px -540px

    span
      padding-right: 50px
      display: block
      position: relative

      &:after
        padding: 7px 10px
        position: absolute
        right: 5px
        top: -6px
        font-weight: bold

    &:nth-child(2) span:after
        content: '2nd'
    &:nth-child(2) span:after
        content: '2nd'
    &:nth-child(3) span:after
        content: '3rd'
    &:nth-child(4) span:after
        content: '4th'
    &:nth-child(5) span:after
        content: '5th'
    &:nth-child(6) span:after
        content: '6th'
    &:nth-child(7) span:after
        content: '7th'
    &:nth-child(8) span:after
        content: '8th'
    &:nth-child(9) span:after
        content: '9th'
    &:nth-child(10) span:after
        content: '10th'
    &:nth-child(11) span:after
        content: '11th'
    &:nth-child(12) span:after
        content: '12th'
    &:nth-child(13) span:after
        content: '13th'
    &:nth-child(14) span:after
        content: '14th'
    &:nth-child(15) span:after
        content: '15th'
    &:nth-child(16) span:after
        content: '16th'
    &:nth-child(17) span:after
        content: '17th'
    &:nth-child(18) span:after
        content: '18th'
    &:nth-child(19) span:after
        content: '19th'
    &:nth-child(20) span:after
        content: '20th'

    &:first-child,
    &.fan-fave
      span:before
        width: 0
        height: 0
        content: ''
        position: absolute
        right: -10px
        top: 25px
        border-style: solid
        border-width: 10px 10px 0 0
      span:after
        right: -10px
        line-height: 1

    &:first-child
      span:before
        border-color: goldenrod transparent transparent transparent
      span:after
        content: 'Winner'
        background: gold
        color: brown

    &.fan-fave
      span:before
        border-color: indigo transparent transparent transparent
      span:after
        content: 'Fan Fave'
        background: darkorchid
        color: white

  &.current

    li:nth-child(-n+4)
      display: none

// two contestants tie for 2nd
.season-17 .ranking li,
.season-18 .ranking li,
.season-19 .ranking li,
.season-20 .ranking li,
.season-21 .ranking li
  &:nth-child(3) span:after
    content: '2nd'

// two contestants tie for 3rd
.season-13 .ranking li
  &:nth-child(4) span:after
    content: '3rd'

// two contestants tie for 10th
.season-22 .ranking li
  &:nth-child(12) span:after
    content: '11th'

@media screen and (max-width: $bp-small)

  .ranking

    li
      padding: 15px 0
      padding-left: 55px

      .chef
        left: -15px
        width: 70px
        height: @width
        background-size: 210px auto

      &:nth-child(1) .chef
        background-position: 0 0
      &:nth-child(2) .chef
        background-position: -70px 0
      &:nth-child(3) .chef
        background-position: -140px 0
      &:nth-child(4) .chef
        background-position: 0 -70px
      &:nth-child(5) .chef
        background-position: -70px -70px
      &:nth-child(6) .chef
        background-position: -140px -70px
      &:nth-child(7) .chef
        background-position: 0 -140px
      &:nth-child(8) .chef
        background-position: -70px -140px
      &:nth-child(9) .chef
        background-position: -140px -140px
      &:nth-child(10) .chef
        background-position: 0 -210px
      &:nth-child(11) .chef
        background-position: -70px -210px
      &:nth-child(12) .chef
        background-position: -140px -210px
      &:nth-child(13) .chef
        background-position: 0 -280px
      &:nth-child(14) .chef
        background-position: -70px -280px
      &:nth-child(15) .chef
        background-position: -140px -280px
      &:nth-child(16) .chef
        background-position: 0 -350px
      &:nth-child(17) .chef
        background-position: -70px -350px
      &:nth-child(18) .chef
        background-position: -140px -350px
      &:nth-child(19) .chef
        background-position: 0 -420px
      &:nth-child(20) .chef
        background-position: -70px -420px

@media screen and (min-width: $bp-small + 1)

  .ranking

    li
      padding-left: 60px

      .chef
        left: -30px

