.stat

  .number
    font-weight: bold
    display: flex
    align-items: flex-start

    span
      display: inline-block
    span + span
      margin-left: 15px

    .roster,
    .name
      padding-left: 10px
      flex: 1
      display: flex
      justify-content: flex-end
      align-items: center

    .roster
      flex-wrap: wrap

  @media screen and (max-width: $bp-small)

    &.person + .stat:not(.person)
      margin-top: 10px
      border-top: $ui-border

    &:not(.person)
      padding: 10px 0
      border-bottom: $ui-border
      display: flex
      justify-content: space-between
      align-items: center

      .number
        font-size: 1.8em

    &.person

      h2
        padding: 20px 0 5px
        border-bottom: $ui-border

      .number
        font-size: 2.5em

      .roster
        padding-top: 5px

  @media screen and (min-width: $bp-small + 1)

    h2
      border-bottom: $ui-border

    .number
      font-size: 4.7em

    .roster,
    .name
      padding-top: 15px
