.stat

  .number
    position: relative
    font-weight: bold

    span
      display: inline-block

    span + span
      margin-left: 15px

    .roster
      padding-left: 50px
      position: absolute
      right: 0

      .avatar
        float: right

  .name
    margin-left: 10px
    display: inline-block
    position: absolute
    background: black(.2)
    border-radius: 3px
    font-weight: normal
    line-height: 1

    .avatar
      display: block
      position: absolute

@media screen and (max-width: $bp-small)

  .stat.person + .stat:not(.person)
    margin-top: 10px
    border-top: $ui-border

  .stat:not(.person)
    padding: 10px 0
    border-bottom: $ui-border

    h2
      padding-top: 10px
      float: left

    .number
      text-align: right
      font-size: 30px

    .woman,
    .man
      background-position: left 9px
      background-size: auto 23px
      padding-left: 23px

  .stat.person

    h2
      padding: 20px 0 5px
      border-bottom: $ui-border

    .number
      font-size: 40px

      .roster
        top: 8px

    .name
      padding: 8px 15px 8px 10px
      top: 15px
      right: 30px
      font-size: 14px

      .avatar
        top: -12px
        right: -35px

@media screen and (min-width: $bp-small + 1)

  .stat

    h2
      border-bottom: $ui-border

    .number
      font-size: 85px

      .roster
        top: 15px

    .name
      padding: 8px 45px 6px 10px
      top: 50px
      right: 40px
      font-size: 16px

      .avatar
        top: -32px
        right: -45px

    .woman,
    .man
      background-position: left center
      background-size: auto 50px
      padding-left: 40px
