extends ../layout

block title
  | | Season 02

block content

  .season.season-02

    .intro
      h1
        span Season 02
        span Los Angeles

    .grid
      ol.ranking.grid-item.grid-sm-2
        li
          div.chef
          span Ilan Hall
        li
          div.chef
          span Marcel Vigneron
        li
          div.chef
          span Sam Talbot
        li
          div.chef
          span Elia Aboumrad
        li
          div.chef
          span Cliff Crooks
        li
          div.chef
          span Michael Midgley
        li
          div.chef
          span Betty Fraser
        li
          div.chef
          span Mia Gaines-Alt
        li
          div.chef
          span Frank Terzoli
        li
          div.chef
          span Carlos Fernandez
        li
          div.chef
          span Jose Smith-Malave
        li
          div.chef
          span Marisa Churchill
        li
          div.chef
          span Emily Sprissler
        li
          div.chef
          span Otto Borsich
        li
          div.chef
          span Suyai Steinhauer

