extends ../layout

block title
  | | Season 04

block content

  .season.season-04

    .intro
      h1
        span Season 04
        span Chicago

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Stephanie Izard
        li
          div.chef
          span Lisa Fernandes
        li
          div.chef
          span Richard Blais
        li
          div.chef
          span Antonia Lofaso
        li
          div.chef
          span Spike Mendelsohn
        li
          div.chef
          span Dale Talde
        li
          div.chef
          span Andrew D'Ambrosi
        li
          div.chef
          span Nikki Cascone
        li
          div.chef
          span Mark Simmons
        li
          div.chef
          span Jennifer Biesty
        li
          div.chef
          span Ryan Scott
        li
          div.chef
          span Zoi Antonitsas
        li
          div.chef
          span Manuel Trevino
        li
          div.chef
          span Erik Hopfinger
        li
          div.chef
          span Valerie Bolon
        li
          div.chef
          span Nimma Osman

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.roster.grid-item.grid-sm-1.grid-lg-2
          h2 Host & Judges
          img.avatar(src='/images/padma-lakshmi.png')
          img.avatar(src='/images/tom-colicchio.png')
          img.avatar(src='/images/gail-simmons.png')
          img.avatar(src='/images/ted-allen.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 16

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 4
            .name Antonia Lofaso
              img.avatar(src='/images/antonia-lofaso-s4.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 5
            .name Stephanie Izard
              img.avatar(src='/images/stephanie-izard.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 7
            .name Richard Blais
              img.avatar(src='/images/richard-blais-s4.png')


        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Wins With Immunity
          .number 2
            .roster
              img.avatar(src='/images/antonia-lofaso-s4.png')
              img.avatar(src='/images/richard-blais-s4.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .number Warehouse Kitchen
          .roster.center
            .winner
              img.avatar(src='/images/stephanie-izard.png')
            img.avatar(src='/images/antonia-lofaso-s4.png')
            img.avatar(src='/images/richard-blais-s4.png')
            img.avatar(src='/images/nikki-cascone.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Dale Talde
              img.avatar(src='/images/dale-talde-s4.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Sight/Taste Test Winner
          .number 1
            .name Antonia Lofaso
              img.avatar(src='/images/antonia-lofaso-s4.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Cars Won
          .number 1
            .name Richard Blais
              img.avatar(src='/images/richard-blais-s4.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Trips Won
          .number 3

        .featured.relay-race
          h2 Mise en place Relay Race Winner
          .number Team Fork
          .roster.center
            img.avatar(src='/images/andrew-dambrosi.png')
            img.avatar(src='/images/richard-blais-s4.png')
            img.avatar(src='/images/stephanie-izard.png')
            img.avatar(src='/images/antonia-lofaso-s4.png')

        .featured.finale
          h2 Finale Location
          .number San Juan

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number 4
            .roster
              img.avatar(src='/images/richard-blais-s4.png')
              img.avatar(src='/images/antonia-lofaso-s4.png')
              img.avatar(src='/images/spike-mendelsohn-s4.png')
              img.avatar(src='/images/dale-talde-s4.png')
