extends ../layout

block title
  | | Season 04

block content

  .season.season-04

    h1
      span Season 04
      span Chicago

    ol.ranking.cf
      li
        div.chef
        span Stephanie Izard
      li
        div.chef
        span Lisa Fernandes
      li
        div.chef
        span Richard Blais
      li
        div.chef
        span Antonia Lofaso
      li
        div.chef
        span Spike Mendelsohn
      li
        div.chef
        span Dale Talde
      li
        div.chef
        span Andrew D'Ambrosi
      li
        div.chef
        span Nikki Cascone
      li
        div.chef
        span Mark Simmons
      li
        div.chef
        span Jennifer Biesty
      li
        div.chef
        span Ryan Scott
      li
        div.chef
        span Zoi Antonitsas
      li
        div.chef
        span Manuel Trevino
      li
        div.chef
        span Erik Hopfinger
      li
        div.chef
        span Valerie Bolon
      li
        div.chef
        span Nimma Osman

