extends ../layout

block title
  | | Season 08

block content

  .season.season-08

    h1
      span Season 08
      span All-Stars

    ol.ranking.cf
      li
        div.chef
        span Richard Blais
      li
        div.chef
        span Mike Isabella
      li
        div.chef
        span Antonia Lofaso
      li
        div.chef
        span Tiffany Derry
      li
        div.chef
        span Carla Hall
      li
        div.chef
        span Dale Talde
      li
        div.chef
        span Angelo Sosa
      li
        div.chef
        span Fabio Viviani
      li
        div.chef
        span Tre Wilcox
      li
        div.chef
        span Marcel Vigneron
      li
        div.chef
        span Jamie Lauren
      li
        div.chef
        span Tiffani Faison
      li
        div.chef
        span Casey Thompson
      li
        div.chef
        span Spike Mendelsohn
      li
        div.chef
        span Dale Levitski
      li
        div.chef
        span Stephen Asprinio
      li
        div.chef
        span Jennifer Carroll
      li
        div.chef
        span Elia Aboumrad
