extends ../layout

block title
  | | Season 03

block content

  .season.season-03

    h1
      span Season 03
      span Miami

    ol.ranking.cf
      li
        div.chef
        span Hung Huynh
      li
        div.chef
        span Dale Levitski
      li
        div.chef
        span Casey Thompson
      li
        div.chef
        span Brian Malarkey
      li
        div.chef
        span Sara Mair
      li
        div.chef
        span C.J. Jacobsen
      li
        div.chef
        span Howie Kleinberg
      li
        div.chef
        span Tre Wilcox
      li
        div.chef
        span Sara Nguyen
      li
        div.chef
        span Joey Paulino
      li
        div.chef
        span Lia Bardeen
      li
        div.chef
        span Camille Becerra
      li
        div.chef
        span Micah Edelstein
      li
        div.chef
        span Sandee Birdsong
      li
        div.chef
        span Clay Bowen

