extends ../layout

block title
  | | Season 05

block content

  .season.season-05

    h1
      span Season 05
      span New York

    ol.ranking.cf
      li
        div.chef
        span Hosea Rosenberg
      li
        div.chef
        span Stefan Richter
      li
        div.chef
        span Carla Hall
      li
        div.chef
        span Fabio Viviani
      li
        div.chef
        span Jeff McInnis
      li
        div.chef
        span Leah Cohen
      li
        div.chef
        span Jamie Lauren
      li
        div.chef
        span Radhika Desai
      li
        div.chef
        span Ariane Duarte
      li
        div.chef
        span Gene Villiatora
      li
        div.chef
        span Melissa Harrison
      li
        div.chef
        span Danny Gagnon
      li
        div.chef
        span Alex Eusebio
      li
        div.chef
        span Richard Sweeney
      li
        div.chef
        span Jill Snyder
      li
        div.chef
        span Patrick Dunlea
      li
        div.chef
        span Lauren Hope
