extends _layout

block title
  | | 404

block content

  .season.four-oh-four

    .intro
      h1 404
      p No stats here. Try selecting a season.
      p Or go 
        a(href='/') back home
        | .
