extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from 17 seasons and 3 spinoffs of Top Chef.'
  - var bodyClass = 'home'
  - var title = '404'

block content

  .season.four-oh-four

    .intro
      h1 404
      p No stats here. Try selecting a season.
      p Or go 
        a(href='/') back home
        | .
