extends _layout

block vars
  - var pageDescription = 'Pre-season stats for the chefs on Season 17: All-Stars L.A.'
  - var ogImage = 'allstars-preseason'
  - var bodyClass = 'allstars-preseason'
  - var title = 'All-Stars L.A. Pre-Season'

block content

  .season

    .intro
      h1
        span All-Stars L.A.
        span Pre-Season Stats

    .pre-season
      dl.chef
        img.avatar(src='/images/gregory-gourdet-s17.png')
        .chef-name Gregory Gourdet
        .p-season-list
          .p-season
            .item.chef-season 12 #[span Boston]
            .item.chef-place 2#[sup nd]
            .item.chef-total 9
            .item.chef-qf 5
            .item.chef-elim 5
            .item.chef-bye Finale
      dl.chef
        img.avatar(src='/images/bryan-voltaggio-s17.png')
        .chef-name Bryan Voltaggio
        .p-season-list
          .p-season
            .item.chef-season 06 #[span Vegas]
            .item.chef-place 2#[sup nd]
            .item.chef-total 4
            .item.chef-qf 0
            .item.chef-elim 4
            .item.chef-bye Finale
          .p-season
            .item.chef-season Masters
            .item.chef-place 2#[sup nd]
            .item.chef-total 0
            .item.chef-qf 0
            .item.chef-elim 1
            .item.chef-bye Finale
      dl.chef
        img.avatar(src='/images/lisa-fernandes-s17.png')
        .chef-name Lisa Fernandes
        .p-season-list
          .p-season
            .item.chef-season 04 #[span Chicago]
            .item.chef-place 2#[sup nd]
            .item.chef-total 1
            .item.chef-qf 0
            .item.chef-elim 1
            .item.chef-bye Finale
      dl.chef
        img.avatar(src='/images/kevin-gillespie-s17.png')
        .chef-name Kevin Gillespie
        .p-season-list
          .p-season
            .item.chef-season 06 #[span Vegas]
            .item.chef-place 3#[sup rd]
            .item.chef-total 9
            .item.chef-qf 4
            .item.chef-elim 5
            .item.chef-bye Finale
          .p-season
            .item.chef-season Duels
            .item.chef-place 3#[sup rd]
            .item.chef-total 3
            .item.chef-qf -
            .item.chef-elim -
            .item.chef-bye Honor Course
      dl.chef
        img.avatar(src='/images/joe-sasto-s17.png')
        .chef-name Joe Sasto
        .p-season-list
          .p-season
            .item.chef-season 15 #[span Colorado]
            .item.chef-place 3#[sup rd]
            .item.chef-total 5
            .item.chef-qf 1
            .item.chef-elim 4
            .item.chef-bye Food + Wine Classic
      dl.chef
        img.avatar(src='/images/angelo-sosa-s17.png')
        .chef-name Angelo Sosa
        .p-season-list
          .p-season
            .item.chef-season 07 #[span D.C.]
            .item.chef-place 3#[sup rd]
            .item.chef-total 6
            .item.chef-qf 4
            .item.chef-elim 2
            .item.chef-bye Finale
          .p-season
            .item.chef-season 08 #[span All-Stars]
            .item.chef-place 7#[sup th]
            .item.chef-total 2
            .item.chef-qf 0
            .item.chef-elim 2
            .item.chef-bye Target takeover
      dl.chef
        img.avatar(src='/images/eric-adjepong-s17.png')
        .chef-name Eric Adjepong
        .p-season-list
          .p-season
            .item.chef-season 16 #[span Kentucky]
            .item.chef-place 3#[sup rd]
            .item.chef-total 3
            .item.chef-qf 0
            .item.chef-elim 3
            .item.chef-bye Finale 1st course
      dl.chef
        img.avatar(src='/images/jennifer-carroll-s17.png')
        .chef-name Jennifer Carroll
        .p-season-list
          .p-season
            .item.chef-season 06 #[span Vegas]
            .item.chef-place 4#[sup th]
            .item.chef-total 5
            .item.chef-qf 4
            .item.chef-elim 1
            .item.chef-bye Crush party in Napa
          .p-season
            .item.chef-season 08 #[span All-Stars]
            .item.chef-place 17#[sup th]
            .item.chef-total 0
            .item.chef-qf 0
            .item.chef-elim 0
            .item.chef-bye Dinosaur breakfast
      dl.chef
        img.avatar(src='/images/lee-anne-wong-s17.png')
        .chef-name Lee Anne Wong
        .p-season-list
          .p-season
            .item.chef-season 01 #[span S.F.]
            .item.chef-place 4#[sup th]
            .item.chef-total 4
            .item.chef-qf 3
            .item.chef-elim 1
            .item.chef-bye Shafer Hillside Select
          .p-season
            .item.chef-season 15 #[span Colorado]
            .item.chef-place 11#[sup th]
            .item.chef-total 0
            .item.chef-qf 0
            .item.chef-elim 0
            .item.chef-bye Voluntarily left
      dl.chef
        img.avatar(src='/images/melissa-king-s17.png')
        .chef-name Melissa King
        .p-season-list
          .p-season
            .item.chef-season 12 #[span Boston]
            .item.chef-place 4#[sup th]
            .item.chef-total 3
            .item.chef-qf 1
            .item.chef-elim 2
            .item.chef-bye Artist inspiration
      dl.chef
        img.avatar(src='/images/brian-malarkey-s17.png')
        .chef-name Brian Malarkey
        .p-season-list
          .p-season
            .item.chef-season 03 #[span Miami]
            .item.chef-place 4#[sup th]
            .item.chef-total 3
            .item.chef-qf 2
            .item.chef-elim 1
            .item.chef-bye Elk challenge
      dl.chef
        img.avatar(src='/images/karen-akunowicz-s17.png')
        .chef-name Karen Acunowicz
        .p-season-list
          .p-season
            .item.chef-season 13 #[span Cali]
            .item.chef-place 7#[sup th]
            .item.chef-total 2
            .item.chef-qf 1
            .item.chef-elim 1
            .item.chef-bye Historical cuisine
      dl.chef
        img.avatar(src='/images/stephanie-cmar-s17.png')
        .chef-name Stephanie Cmar
        .p-season-list
          .p-season
            .item.chef-season 11 #[span NOLA]
            .item.chef-place 7#[sup th]
            .item.chef-total 2
            .item.chef-qf 0
            .item.chef-elim 2
            .item.chef-bye French tasting menu
      dl.chef
        img.avatar(src='/images/jamie-lynch-s17.png')
        .chef-name Jamie Lynch
        .p-season-list
          .p-season
            .item.chef-season 14 #[span Charleston]
            .item.chef-place 9#[sup th]
            .item.chef-total 2
            .item.chef-qf 2
            .item.chef-elim 0
            .item.chef-bye Pirate treasure hunt
      dl.chef
        img.avatar(src='/images/nini-nguyen-s17.png')
        .chef-name Nini Nguyen
        .p-season-list
          .p-season
            .item.chef-season 16 #[span Kentucky]
            .item.chef-place 12#[sup th]
            .item.chef-total 2
            .item.chef-qf 0
            .item.chef-elim 2
            .item.chef-bye Restaurant Wars
