extends _layout

block title
  | | Duels

block content

  .season.duels

    .intro.center
      img.knife(src='/images/knife.png' alt='knife')
      img.knife(src='/images/knife-reverse.png' alt='knife')
      h1 Top Chef Duels
      h2 En garde!

    .grid

      //- Season Overview
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Seasons
        .number 1
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Total Hosts
        .number 1
          .name Curtis Stone
            img.avatar(src='/images/curtis-stone.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Total Judges
        .number 2
          .roster
            img.avatar(src='/images/wolfgang-puck.png' alt='Wolfgang Puck')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')

      //- Chefs
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Chefs
        .number 18
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Gender Breakdown
        .number
          span.icon.man 10
          span.icon.woman 8
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Seasons Represented
        .number 11

      //- Guest Judges
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Top Chef Winners
        .number 3
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Guest Judges
        .number 37
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Frequent Guest Judge
        .number 3
          .name Hugh Acheson
            img.avatar(src='/images/hugh-acheson.png')

      //- Seasons
      .featured.phrase-list.large.cf
        h2 Chefs Competing From The
        .phrase Most Represented Seasons
        .grid-item.grid-sm-2.left
          p All-Stars
            span 6
          p Chicago
            span 4
          p Seattle
            span 4
          p Las Vegas
            span 3
          p Masters
            span 3
          p Los Angeles
            span 1
        .grid-item.grid-sm-2.left
          p Miami
            span 1
          p New Orleans
            span 1
          p New York
            span 1
          p San Francisco
            span 1
          p Texas
            span 1

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Challenges
        .number 30
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Musicians Cooked For
        .number 4
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 TV Show Casts Cooked For
        .number 2

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Courses Served
        .number 117
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Challenge Time (min)
        .number 32
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Duel Time (min)
        .number 156

      //- Duels
      .themed.duel-list.cf
        h1
          span Duel Breakdown
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef Marcel Vigneron
            img.avatar(src='/images/marcel-vigneron-s8.png')
          .duel-chef.winner Richard Blais
            img.avatar(src='/images/richard-blais-s8.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef Brooke Williamson
            img.avatar(src='/images/brooke-williamson.png')
          .duel-chef.winner Shirley Chung
            img.avatar(src='/images/shirley-chung.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef.winner Antonia Lofaso
            img.avatar(src='/images/antonia-lofaso-s8.png')
          .duel-chef Mike Isabella
            img.avatar(src='/images/mike-isabella-s8.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef Stefan Richter
            img.avatar(src='/images/stefan-richter-s10.png')
          .duel-chef.winner C.J. Jacobson
            img.avatar(src='/images/cj-jacobson-s10.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef.winner Takashi Yagihashi
            img.avatar(src='/images/takashi-yagihashi.png')
          .duel-chef David Burke
            img.avatar(src='/images/david-burke.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef.winner Dale Talde
            img.avatar(src='/images/dale-talde-s8.png')
          .duel-chef Tiffani Faison
            img.avatar(src='/images/tiffani-faison-s1.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef.winner Jennifer Carroll
            img.avatar(src='/images/jennifer-carroll-s6.png')
          .duel-chef Nyesha Arrington
            img.avatar(src='/images/nyesha-arrington.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef Kristen Kish
            img.avatar(src='/images/kristen-kish.png')
          .duel-chef.winner Stephanie Izard
            img.avatar(src='/images/stephanie-izard.png')
        .duel.grid-item.grid-sm-1.grid-lg-2
          .duel-chef Art Smith
            img.avatar(src='/images/art-smith.png')
          .duel-chef.winner Kevin Gillespie
            img.avatar(src='/images/kevin-gillespie.png')

      .grid-item.grid-sm-2
        .chart
          h2 Wins by Coat Color
          .chart-rw-roles.basic
            .chart-bar.bar-5 White
              .number 17
            .chart-bar.bar-4 Black
              .number 15

      .grid-item.grid-sm-2
        .chart
          h2 Red Knife Choice
          .chart-rw-roles
            span
            span
            span
            span
            span
            .chart-bar.bar-5 Own Challenge First
              .number 5
            .chart-bar.bar-4 Opponent’s Challenge First
              .number 4

      .stat.person.grid-item.grid-sm-2
        h2 Most Challenge Wins
        .number 5
          .name C.J. Jacobson
            img.avatar(src='/images/cj-jacobson-s10.png')
      .stat.person.grid-item.grid-sm-2
        h2 2nd Most Challenge Wins
        .number 4
          .name Takashi Yagihashi
            img.avatar(src='/images/takashi-yagihashi.png')

      .featured
        h2 Total Cash Money Given Away
        .number $280,000

      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Cash Won by the Top Chef
        .number $120k
          .name C.J. Jacobson
            img.avatar(src='/images/cj-jacobson-s10.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Non-Winner
        .number $20k
          .roster
            img.avatar(src='/images/brooke-williamson.png' alt='Brooke Williamson')
            img.avatar(src='/images/takashi-yagihashi.png' alt='Takashi Yagihashi')
