extends _layout

block vars
  - var pageDescription = 'Definitions and explanations for stats on Top Chef Stats.'
  - var bodyClass = 'glossary'
  - var title = 'Glossary'

block content

  .season.glossary

    .intro
      h1 Glossary
      p Some definitions, yo.

    dl.glossary-list

      dt Top Chef
      dd: ol
        li The original series.
        li Does not include spinoffs: <em>Masters</em>, <em>Just Desserts</em>, <em>Duels</em>, <em>Healthy Showdown</em>, <em>Life After Top Chef</em>, or <em>Padma’s Picks</em>.
        li Does not include special episodes: 2007’s 4 Star All Stars, 2007’s Holiday Special, or 2009’s Reunion Dinner.
        li The winner of a season of <em>Top Chef</em>.

      dt Top Chef Master
      dd: p Winner of Top Chef Masters.

      dt Chef
      dd: p Contestant competing in a season.

      dt Guest Judge
      dd: ol
        li Not a permanent or rotating judge for a season.
        li Judge helping to decide the winner of a Quickfire Challenge.
        li Judge who sits at Judges’ Table after an Elimination Challenge.

      dt Finale Diner
      dd: ol
        li Eats the meal(s) featured in a season’s Finale episode.
        li Introduced by the host or screen text.

      dt City
      dd: ol
        li The primary location where a challenge takes place.
        li Does not include towns, suburbs, or census designated places.

      dt Challenge
      dd: ol
        li A Quickfire or Elimination Challenge in an episode.
        li Does not include Sudden Death Cookoffs and challenges where the chefs must make another dish to avoid elimination.
        li Does not include qualifying challenges/episodes where chefs compete for a spot on the show (e.g. Episodes 1 and 2 of Top Chef Texas).
        li Although called out separately, does not include challenges from Last Chance Kitchen.

      dt Challenge Win
      dd: ol
        li Chef who is named as the winner or is part of a team named as winner.
        li Does not include the Judge’s favorites or top picks.

      dt Last Chance Kitchen Streak
      dd: ol
        li The number of competitors a chef has eliminated.
        li Not necessarily the number of Last Chance Kitchen challenges the chef wins.

      dt Cash Won/Given Away
      dd: ol
        li Prize described as a dollar amount.
        li Does not include gift cards or some described worth of physical goods. 

      dt Trip Won/Given Away
      dd: ol
        li Prize described as a “trip” or “getaway.”
        li Prize described as a pair of plane tickets.
