extends _layout

block vars
  - var pageDescription = 'Who has the most winning season of all time?'
  - var ogImage = 'goat'
  - var bodyClass = 'goat'
  - var title = 'Greatest Of All Time'

block content

  .season.goat

    .intro
      h1
        span GOAT
        span Greatest Of All Time
      p Which chef has the most winning season of all time?

    .goat-list
      .goat-contender
        .goat-chef
          img.avatar(loading='lazy' src='/images/paul-qui.png')
          h2.name Paul Qui
          h3 Texas • 16 chefs, 15* episodes
        .goat-wins
          .win.total
            span.label Total Wins
            span.number 11
          .win.breakdown
            span.label Total Chances to Win
            span.number 27
          .win.breakdown
            span.label Percentage Wins
            span.number 40.74%
          .win.breakdown
            span.label Elimination Wins
            span.number 9
          .win.breakdown
            span.label Quickfire Wins
            span.number 2
          .win.breakdown
            span.label Individual Wins
            span.number 9
          .win.breakdown
            span.label Team Wins
            span.number 2
          .win
            span.label
              span.episode Ep 9.3
              span.type Elimination - Quinceañera food
              span.pill Team win
            span.number 1
          .win
            span.label
              span.episode Ep 9.4
              span.type Quickfire - Chiles
            span.number 1
          .win
            span.label
              span.episode Ep 9.5
              span.type Elimination - Progressive dinner
            span.number 1
          .win
            span.label
              span.episode Ep 9.8
              span.type Quickfire - Twitter suggestions
            span.number 1
          .win
            span.label
              span.episode Ep 9.9
              span.type Elimination - BBQ pit wars
              span.pill Team win
            span.number 1
          .win
            span.label
              span.episode Ep 9.11
              span.type Elimination - Evil queen
            span.number 1
          .win
            span.label
              span.episode Ep 9.12
              span.type Elimination - Block party
            span.number 1
          .win
            span.label
              span.episode Ep 9.14
              span.type Elimination - Mentors
            span.number 1
          .win
            span.label
              span.episode Ep 9.15
              span.type Elimination - Culinary games
            span.number 1
          .win
            span.label
              span.episode Ep 9.16
              span.type Elimination - Fire and ice
            span.number 1
          .win
            span.label
              span.episode Ep 9.17
              span.type Elimination - Finale
            span.number 1

      .goat-contender
        .goat-chef
          img.avatar(loading='lazy' src='/images/melissa-king-s17.png')
          h2.name Melissa King
          h3 All-Stars L.A. • 14 chefs, 14 episodes
        .goat-wins
          .win.total
            span.label Total Wins
            span.number 10
          .win.breakdown
            span.label Total Chances to Win
            span.number 24
          .win.breakdown
            span.label Percentage Wins
            span.number 41.66%
          .win.breakdown
            span.label Elimination Wins
            span.number 7
          .win.breakdown
            span.label Quickfire Wins
            span.number 3
          .win.breakdown
            span.label Individual Wins
            span.number 8
          .win.breakdown
            span.label Team Wins
            span.number 2
          .win
            span.label
              span.episode Ep 17.1
              span.type Quickfire - Mise en place
              span.pill Team win
            span.number 1
          .win
            span.label
              span.episode Ep 17.3
              span.type Elimination - Art periods
            span.number 1
          .win
            span.label
              span.episode Ep 17.4
              span.type Elimination - Vegetarian progressive meal
            span.number 1
          .win
            span.label
              span.episode Ep 17.6
              span.type Elimination - Paired taste types
              span.pill Team win
            span.number 1
          .win
            span.label
              span.episode Ep 17.10
              span.type Quickfire - Dessert
            span.number 1
          .win
            span.label
              span.episode Ep 17.11
              span.type Quickfire - Airline meal
            span.number 1
          .win
            span.label
              span.episode Ep 17.11
              span.type Elimination - Michael’s Santa Monica
            span.number 1
          .win
            span.label
              span.episode Ep 17.12
              span.type Elimination - White truffles
            span.number 1
          .win
            span.label
              span.episode Ep 17.13
              span.type Elimination - Prosciutto and parma
            span.number 1
          .win
            span.label
              span.episode Ep 17.14
              span.type Elimination - Finale
            span.number 1
      .footnote *Does not include episodes 9.1 and 9.2 which were qualifying rounds.
