extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from 19 seasons and 3 spinoffs of Top Chef.'
  - var ogImage = 'home'
  - var bodyClass = 'home'

block content

  .season.home

    .intro.center
      img.knife(src='/images/knife.png')
      h1 Top Chef Stats
      h2 Compiled stats and facts across 20 seasons.
      //- p Explore the entire series or select a specific season.

    .grid

      //- Season Overview
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Seasons
        .number 20
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Total Hosts
        .number
          .value 2
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/katie-lee.png' alt='Katie Lee')

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Judges
        .number 23

      //- Chefs
      .stat.grid-item.grid-sm-2
        h2 Total Chefs
        .number 271
      .stat.grid-item.grid-sm-1.grid-lg-2
        h2 Gender Breakdown
        .number
          span.icon.man 145
          span.icon.woman 126

      //- Guest Judges
      .stat.grid-item.grid-sm-2
        h2 Total Guest Judges
        .number 273

      .stat.person.grid-item.grid-sm-2
        h2 Most Frequent Guest Judge
        .number
          .value 11
          .name
            span Eric Ripert
            img.avatar(src='/images/eric-ripert.png')

      //- Locations
      .stat.grid-item.grid-sm-1.grid-lg-2
        img(src='/images/world-map.svg' alt='map of the world with dots on various locations')
      .grid-item.grid-sm-1.grid-lg-2.p0.m0
        .stat.grid-item.grid-sm-2
          h2 Total Cities
          .number 46
        .stat.grid-item.grid-sm-2
          h2 Total Countries
          .number 8
        .stat.grid-item.grid-sm-2
          h2 Chefs from California
          .number 63
        .stat.grid-item.grid-sm-2
          h2 Chefs from New York
          .number 41

      //- Chef Ages
      //- .stat.grid-item.grid-sm-2.grid-lg-3
      //-   h2 Average Chef Age
      //-   .number 33
      //- .stat.person.grid-item.grid-sm-2.grid-lg-3
      //-   h2 Youngest Chef
      //-   .number
        // .value 21
      //-    
        // span .name Patrick Dunlea
      //-       img.avatar(loading='lazy' src='/images/patrick-dunlea.png')
      //- .stat.person.grid-item.grid-sm-2.grid-lg-3
      //-   h2 Oldest Chef
      //-   .number
        // .value 58
      //-    
        // span .name John Tesar
      //-       img.avatar(loading='lazy' src='/images/john-tesar.png')

      //- Not Here to Make Friends
      .featured.cf
        h2 Chefs Who Are 
        .phrase “Not here to make friends.”
        .roster
          img.avatar(loading='lazy' src='/images/tiffani-faison-s1.png' alt='Tiffani Faison')
          img.avatar(loading='lazy' src='/images/marcel-vigneron-s2.png' alt='Marcel Vigneron')
          img.avatar(loading='lazy' src='/images/dale-talde-s4.png' alt='Dale Talde')
          img.avatar(loading='lazy' src='/images/robin-leventhal.png' alt='Robin Leventhal')
          img.avatar(loading='lazy' src='/images/carlos-gaytan.png' alt='Carlos Gaytan')

      //- Challenge Breakdown
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Quickfire Time (min)
        .number 40.04
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges with a Knife Pull
        .number 115
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges Cooking for Kids
        .number 13

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Quickfire Wins
        .number
          .value 5
          .roster
            img.avatar(loading='lazy' src='/images/sam-talbot.png' alt='Sam Talbot')
            img.avatar(loading='lazy' src='/images/antonia-lofaso-s4.png' alt='Antonia Lofaso')
            img.avatar(loading='lazy' src='/images/brooke-williamson-s14.png' alt='Brooke Williamson')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Elimination Wins
        .number
          .value 9
          .name
            span Paul Qui
            img.avatar(loading='lazy' src='/images/paul-qui.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Overall Wins
        .number
          .value 11
          .name
            span Paul Qui
            img.avatar(loading='lazy' src='/images/paul-qui.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Best Win Percentage (GOAT)
        .number
          .value 41#[sup %]
          .name
            span Melissa King
            img.avatar(loading='lazy' src='/images/melissa-king-s17.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Top Chef with Least Wins
        .number
          .value 3
          .roster
            img.avatar(loading='lazy' src='/images/kevin-sbraga.png' alt='Kevin Sbraga')
            img.avatar(loading='lazy' src='/images/kelsey-barnard.png' alt='Kelsey Barnard')
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges Won with Immunity
        .number 15
      .stat.person.grid-item.grid-sm-1.grid-lg-3
        h2 Best Last Chance Kitchen Streak
        .number
          .value 8
          .name
            span Louis Maldonado
            img.avatar(loading='lazy' src='/images/louis-maldonado.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 First chef to win a full episode
        .number
          .value 1
          .name
            span Michael Midgley
            img.avatar(loading='lazy' src='/images/michael-midgley.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-3
        h2 Most full episode wins
        .number
          .value 3
          .name
            span Stefan Richter
            img.avatar(loading='lazy' src='/images/stefan-richter-s5.png')

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Total phone calls home
        .number
          .value 64
      .stat.question.grid-item.grid-sm-2.grid-lg-3
        h2 Does a phone call home predict anything?
        .number Yes
        .detail When we see a phone call, #[strong 83%] of the time that chef is called to judges table.
      .stat.question.grid-item.grid-sm-2.grid-lg-3
        h2 Is a phone call a very bad sign?
        .number No
        .detail Of the #[strong 66] phone calls we see, only #[strong 12] chefs were eliminated that episode (and #[strong 17] were winners).

      //- Chef Coats per Season
      .themed.center.cf
        h1
          span Coats by Season
        .coats-list
          .coat
            img(loading='lazy' src='/images/coat-s1-7.png' alt='white Top Chef chef coat')
            h2 Seasons 1-7
          .coat
            img(loading='lazy' src='/images/coat-s8.png' alt='black Top Chef chef coat')
            h2 Season 8 - All-Stars
          .coat
            img(loading='lazy' src='/images/coat-s9.png' alt='blue Top Chef chef coat with texas on the shoulder')
            h2 Season 9 - Texas
          .coat
            img(loading='lazy' src='/images/coat-s10.png' alt='blue Top Chef chef coat with space needle on the shoulder')
            h2 Season 10 - Seattle
          .coat
            img(loading='lazy' src='/images/coat-s11.png' alt='white Top Chef chef coat with fleur de lis on the shoulder')
            h2 Season 11 - NOLA
          .coat
            img(loading='lazy' src='/images/coat-s12.png' alt='white Top Chef chef coat with B on the shoulder')
            h2 Season 12 - Boston
          .coat
            img(loading='lazy' src='/images/coat-s13.png' alt='white Top Chef chef coat with a bear on the shoulder')
            h2 Season 13 - Cali
          .coat
            img(loading='lazy' src='/images/coat-s14.png' alt='white Top Chef chef coat with S.C. on the shoulder')
            h2 Season 14 - Charleston
          .coat
            img(loading='lazy' src='/images/coat-s15.png' alt='white Top Chef chef coat with mountains on the shoulder')
            h2 Season 15 - Colorado
          .coat
            img(loading='lazy' src='/images/coat-s16.png' alt='white Top Chef chef coat with whiskey barrel on the shoulder')
            h2 Season 16 - Kentucky
          .coat
            img(loading='lazy' src='/images/coat-s17.png' alt='black Top Chef chef coat with knife emblem on the shoulder')
            h2 Season 17 - All-Stars L.A.
          .coat
            img(loading='lazy' src='/images/coat-s18.png' alt='white Top Chef chef coat with pine tree emblem on the shoulder')
            h2 Season 18 - Portland
          .coat
            img(loading='lazy' src='/images/coat-s19.png' alt='white Top Chef chef coat with HTX emblem on the shoulder')
            h2 Season 19 - Houston
          .coat
            img(loading='lazy' src='/images/coat-s20.png' alt='deep blue/black Top Chef coat with lion heraldry style coat of arms on the shoulder')
            h2 Season 20 - World All-Stars

      //- This Is Top Chef
      .featured.phrase-list.cf
        .phrase “This is Top Chef, Not _________.”
        .grid-item.grid-sm-2.left
          p Top Sous Chef
            span S 01
          p Top Sommelier
            span S 01
          p Top Captain
            span S 01
          p Top Waiter
            span S 01
          p Top Cook
            span S 03
          p Top Line Cook
            span S 13
          p Top Home Cook
            span S 20
          p Top Pussy
            span S 05
          p Top Scallops
            span S 05
        .grid-item.grid-sm-2.left
          p A Personality Contest
            span S 02
          p A Popularity Contest
            span S 04
          p A Housewives’ Cooking Competition
            span S 01
          p Culinary Bootcamp Vacation
            span S 11
          p Fun and Games and Hot Air Balloons
            span S 03
          p A Wet T-shirt Contest
            span S 11
          p A Butt-Rubbing Contest
            span S 05

      //- Restaurant Wars
      .themed.cf
        h1
          span Restaurant Wars
        .stat.grid-item.grid-sm-1.grid-lg-3
          h2 Total Restaurants
          .number 43
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Menus without Dessert
          .number 3
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Seasons Not Responsible for Decor
          .number 4
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Average Food Budget per Diner
          .number $47
        .stat.person.grid-item.grid-sm-2.grid-lg-3
          h2 Restaurant Wars Tom Missed
          .number
            .value 1
            .name.textonly
              span Chicago
        .stat.person.grid-item.grid-sm-2.grid-lg-3
          h2 Restaurant Wars with No Winner
          .number
            .value 2
            .name.textonly
              span Los Angeles, Miami
        .stat.person.grid-item.grid-sm-2.grid-lg-3
          h2 Seasons with Sous-Chef Help
          .number
            .value 2
            .name.textonly
              span Chicago, Colorado
        .stat.person.grid-item.grid-sm-2.grid-lg-3
          h2 Seasons That Served on Different Days
          .number
            .value 2
            .name.textonly
              span Texas, Charleston
        .stat.person.grid-item.grid-sm-2.grid-lg-3
          h2 Seasons with Teams Separated by Gender
          .number
            .value 1
            .name.textonly
              span Texas

        .stat.question.grid-item.grid-sm-2
          h2 Is it beneficial to choose your team first?
          .number No
          .detail Of the #[strong 15] teams who chose first when building their team, only #[strong 4] won Restaurant Wars.
        .stat.question.grid-item.grid-sm-2
          h2 Is it beneficial to serve the judges first?
          .number Yes
          .detail Of the #[strong 19] teams who served the judges first, #[strong 13] won Restaurant Wars.
        .grid-item.grid-sm-2.clear
          .chart
            h2 Eliminated Roles
            .chart-rw-roles
              span
              span
              span
              span
              span
              span
              span
              .chart-bar.bar-7 Executive Chef
                .number 7
              .chart-bar.bar-7 Front of House
                .number 7
              .chart-bar.bar-7 Line Cook
                .number 7
        .grid-item.grid-sm-2
          .chart
            h2 Winning Roles
            .chart-rw-roles
              span
              span
              span
              span
              span
              span
              span
              .chart-bar.bar-6 Executive Chef
                .number 6
              .chart-bar.bar-6 Front of House
                .number 6
              .chart-bar.bar-6 Line Cook
                .number 6
              .chart-bar.bar-1 Entire Team
                .number 1

      //- A Force to Be Reckoned With
      .featured.cf
        h2 Chefs Described As
        .phrase “A force to be reckoned with.”
        .roster
          img.avatar(loading='lazy' src='/images/marcel-vigneron-s2.png' alt='Marcel Vigneron')
          img.avatar(loading='lazy' src='/images/stephanie-izard.png' alt='Stephanie Izard')
          img.avatar(loading='lazy' src='/images/zoi-antonitsas.png' alt='Zoi Antonitsas')
          img.avatar(loading='lazy' src='/images/kevin-gillespie.png' alt='Kevin Gillespie')
          img.avatar(loading='lazy' src='/images/jennifer-carroll-s6.png' alt='Jennifer Carroll')
          img.avatar(loading='lazy' src='/images/angelo-sosa-s7.png' alt='Angelo Sosa')
          img.avatar(loading='lazy' src='/images/tre-wilcox-s8.png' alt='Tre Wilcox')
          img.avatar(loading='lazy' src='/images/carla-hall-s8.png' alt='Carla Hall')
          img.avatar(loading='lazy' src='/images/richie-farina.png' alt='Richie Farina')
          img.avatar(loading='lazy' src='/images/grayson-schmitz.png' alt='Grayson Schmitz')
          img.avatar(loading='lazy' src='/images/brooke-williamson.png' alt='Brooke Williamson')
          img.avatar(loading='lazy' src='/images/nina-compton.png' alt='Nina Compton')
          img.avatar(loading='lazy' src='/images/justin-devillier.png' alt='Justin Devillier')
          img.avatar(loading='lazy' src='/images/gregory-gourdet.png' alt='Gregory Gourdet')
          img.avatar(loading='lazy' src='/images/mei-lin.png' alt='Mei Lin')
          img.avatar(loading='lazy' src='/images/jeremy-ford.png' alt='Jeremy Ford')
          img.avatar(loading='lazy' src='/images/isaac-toups.png' alt='Isaac Toups')
          img.avatar(loading='lazy' src='/images/shirley-chung-s14.png' alt='Shirley Chung')
          img.avatar(loading='lazy' src='/images/jamie-lynch-s17.png' alt='Jamie Lynch')
          img.avatar(loading='lazy' src='/images/melissa-king-s17.png' alt='Melissa King')

      //- Quickfires
      .themed.cf
        h1
          span Quickfires
        .stat.grid-item.grid-sm-2
          h2 Total Quickfire Challenges
          .number 243
        .stat.grid-item.grid-sm-2
          h2 Total Quickfire Cash Won
          .number $555k

        .stat.no-flex.grid-item.grid-sm-1
          h2 % of Quickfires That Awarded Prizes
          .grid.percentages
            .percentage.grid-item.grid-xs-2.grid-sm-3.grid-lg-6
              .number.percentage-50
                span 53%
              h3 Immunity
            .percentage.grid-item.grid-xs-2.grid-sm-3.grid-lg-6
              .number.percentage-20
                span 26%
              h3 Advantage
            .percentage.grid-item.grid-xs-2.grid-sm-3.grid-lg-6
              .number.percentage-20
                span 19%
              h3 Cash
            .percentage.grid-item.grid-xs-2.grid-sm-3.grid-lg-6
              .number.percentage-10
                span 9%
              h3 Choose Ingredients
            .percentage.grid-item.grid-xs-2.grid-sm-3.grid-lg-6
              .number.percentage-10
                span 9%
              h3 Choose Teammates
            .percentage.grid-item.grid-xs-2.grid-sm-3.grid-lg-6
              .number.percentage-5
                span 2%
              h3 Skip Challenge

        .stat.question.grid-item.grid-sm-2
          h2 Is winning an advantage actually beneficial?
          .number Yes
          .detail With an advantage, #[strong 70%] of chefs were safe from the bottom and #[strong 24%] won the challenge.

        .stat.person.grid-item.grid-sm-2
          h2 Chefs eliminated after winning an advantage
          .number
            .value 6
            .roster
              img.avatar(loading='lazy' src='/images/spike-mendelsohn-s4.png' alt='Spike Mendelsohn')
              img.avatar(loading='lazy' src='/images/radhika-desai.png' alt='Radhika Desai')
              img.avatar(loading='lazy' src='/images/brother-luck.png' alt='Brother Luck')
              img.avatar(loading='lazy' src='/images/michelle-minori.png' alt='Michelle Minori')
              img.avatar(loading='lazy' src='/images/joe-sasto-s17.png' alt='Joe Sasto')
              img.avatar(loading='lazy' src='/images/jamie-tran.png' alt='Jamie Tran')

        .stat.grid-item.grid-sm-2.grid-lg-3.clear
          h2 Mise en Place Quickfires
          .number 16
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Pairing Quickfires
          .number 8
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Blindfolded Quickfires
          .number 9

      //- Winners Who Won the First Challenge
      .featured.cf
        h2 Top Chef Winners Who Won Their Season’s 
        .phrase First Elimination Challenge 
        .roster
          img.avatar(loading='lazy' src='/images/harold-dieterle.png' alt='Harold Dieterle')
          img.avatar(loading='lazy' src='/images/ilan-hall.png' alt='Ilan Hall')
          img.avatar(loading='lazy' src='/images/stephanie-izard.png' alt='Stephanie Izard')
          img.avatar(loading='lazy' src='/images/paul-qui.png' alt='Paul Qui')
          img.avatar(loading='lazy' src='/images/mei-lin.png' alt='Mei Lin')
          img.avatar(loading='lazy' src='/images/jeremy-ford.png' alt='Jeremy Ford')

      //- Winners Who Won Restaurant Wars
      .featured.cf
        h2 Top Chef Winners Who Won Their Season’s 
        .phrase Restaurant Wars
        .roster
          img.avatar(loading='lazy' src='/images/stephanie-izard.png' alt='Stephanie Izard')
          img.avatar(loading='lazy' src='/images/michael-voltaggio.png' alt='Michael Voltaggio')
          img.avatar(loading='lazy' src='/images/richard-blais-s8.png' alt='Richard Blais')
          img.avatar(loading='lazy' src='/images/nicholas-elmi.png' alt='Nicholas Elmi')
          img.avatar(loading='lazy' src='/images/brooke-williamson-s14.png' alt='Brooke Williamson')
          img.avatar(loading='lazy' src='/images/joe-flamm.png' alt='Joe Flamm')

      //- Winners Who Won LCK
      .featured.cf
        h2 Top Chef Winners Who Won Their Season’s 
        .phrase Last Chance Kitchen
        .roster
          img.avatar(loading='lazy' src='/images/kristen-kish.png' alt='Kristen Kish')
          img.avatar(loading='lazy' src='/images/brooke-williamson-s14.png' alt='Brooke Williamson')
          img.avatar(loading='lazy' src='/images/joe-flamm.png' alt='Joe Flamm')

      .stat.person.grid-item.grid-sm-2
        h2 Top Chef Voted Fan Fave
        .number
          .value 3
          .roster
            img.avatar(loading='lazy' src='/images/stephanie-izard.png' alt='Stephanie Izard')
            img.avatar(loading='lazy' src='/images/kelsey-barnard.png' alt='Kelsey Barnard')
            img.avatar(loading='lazy' src='/images/melissa-king-s17.png' alt='Melissa King')
      .stat.person.grid-item.grid-sm-2
        h2 Most Times Voted Fan Fave
        .number
          .value 2
          .name
            span Sheldon Simeon
            img.avatar(loading='lazy' src='/images/sheldon-simeon-s14.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Chef Turned Judge
        .number
          .value 12
          .roster
            img.avatar(loading='lazy' src='/images/richard-blais-s8.png' alt='Richard Blais')
            img.avatar(loading='lazy' src='/images/carrie-baird.png' alt='Carrie Baird')
            img.avatar(loading='lazy' src='/images/nina-compton.png' alt='Nina Compton')
            img.avatar(loading='lazy' src='/images/tiffany-derry-s7.png' alt='Tiffany Derry')
            img.avatar(loading='lazy' src='/images/gregory-gourdet-s17.png' alt='Gregory Gourdet')
            img.avatar(loading='lazy' src='/images/melissa-king-s17.png' alt='Melissa King')
            img.avatar(loading='lazy' src='/images/kristen-kish.png' alt='Kristen Kish')
            img.avatar(loading='lazy' src='/images/edward-lee.png' alt='Edward lee')
            img.avatar(loading='lazy' src='/images/kwame-onwuachi.png' alt='Kwame Onwuachi')
            img.avatar(loading='lazy' src='/images/amar-santana.png' alt='Amar Santana')
            img.avatar(loading='lazy' src='/images/dale-talde-s8.png' alt='Dale Talde')
            img.avatar(loading='lazy' src='/images/brooke-williamson-s14.png' alt='Brooke Williamson')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Also Competed on Masters
        .number
          .value 1
          .name
            span Bryan Voltaggio
            img.avatar(loading='lazy' src='/images/bryan-voltaggio.png')

      //- Mise en place
      .themed.cf
        h1
          span Mise en place Races

        mixin mise(icon,number,desc)
          .mise-item
            .icon
              img(loading='lazy', src='/images/_mise/' + icon + '.svg', alt=icon)
              span=number
            h4=desc

        .mise-list
          +mise('apple','255','Peeled apples')
          +mise('shrimp','252','Peeled & deveined shrimp')
          +mise('clam','114','Shucked clams')
          +mise('potato','170','Peeled potatoes')
          +mise('potato','150','Tournée potatoes')
          +mise('onion','161','Cups diced onion')
          +mise('artichoke','127','Turned artichokes')
          +mise('egg','126','Separated eggs')
          +mise('prawn','120','Peeled spot prawns')
          +mise('oyster','110','Shucked oysters')
          +mise('almond','100','Cracked almonds')
          +mise('orange','119','Supremed oranges')
          +mise('asparagus','90','Peeled asparagus')
          +mise('chicken','65','Broken down chickens')
          +mise('beef','40','Butchered beef tenderloin')
          +mise('lamb','42','Butchered lamb racks')
          +mise('beef','35','Butchered Tomahawk chops')
          +mise('lobster','32','Cleaned lobsters')
          +mise('fish','32','Cleaned Boston mackerel')
          +mise('apple','16','Cups brunoised apples')
          +mise('fish','12','Cleaned & butterflied sardines')
          +mise('fish','10','Cleaned & portioned cod')
          +mise('fish','10','Cleaned & portioned fluke')
          +mise('fish','6','Filleted hamachi')
          +mise('knife','9','Sharpened knives')
          +mise('rabbit','6','Broken down rabbits')
          +mise('fish','4','Filleted arctic char')
          +mise('fish','4','Filleted monkfish')
          +mise('corn','3','Crates shucked corn')
          +mise('pasta','3','Pounds fresh fettuccine')
          +mise('eel','2','Filleted fresh-water eels')
          +mise('shallot','2','Quarts brunoised shallots')
          +mise('mushroom','2','Quarts sliced mushrooms')

      //- Season Finales
      .themed.cf
        h1
          span Season Finales
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Chefs Competed
          .number 46
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Total Courses
          .number 191
        .stat.person.grid-item.grid-sm-2.grid-lg-3
          h2 Most Frequent Finale Diner
          .number
            .value 5
            .name
              span Hubert Keller
              img.avatar(loading='lazy' src='/images/hubert-keller.png')
        .stat.person.grid-item.grid-sm-2
          h2 Winners Who Skipped Dessert
          .number
            .value 2
            .roster
              img.avatar(loading='lazy' src='/images/kristen-kish.png' alt='Kristen Kish')
              img.avatar(loading='lazy' src='/images/hosea-rosenberg.png' alt='Hosea Rosenberg')
        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Runners-Up Who Skipped Dessert
          .number
            .value 5
            .roster
              img.avatar(loading='lazy' src='/images/gregory-gourdet.png' alt='Gregory Gourdet')
              img.avatar(loading='lazy' src='/images/brooke-williamson.png' alt='Brooke Williamson')
              img.avatar(loading='lazy' src='/images/dale-levitski-s3.png' alt='Dale Levitski')
              img.avatar(loading='lazy' src='/images/casey-thompson-s3.png' alt='Casey Thompson')
              img.avatar(loading='lazy' src='/images/sara-bradley.png' alt='Sara Bradley')
        .stat.grid-item.grid-sm-2
          h2 Winners Who Made Risotto
          .number 0
        .stat.person.grid-item.grid-sm-2
          h2 Runners-Up Who Made Risotto
          .number
            .value 2
            .roster
              img.avatar(loading='lazy' src='/images/amar-santana.png' alt='Amar Santana')
              img.avatar(loading='lazy' src='/images/tiffani-faison-s1.png' alt='Tiffani Faison')
        .stat.question.grid-item.grid-sm-2
          h2 Is it beneficial to choose your team first?
          .number Eh
          .detail Of the #[strong 14] chefs who chose sous chefs first, #[strong 7] won the finale.
        .stat.question.grid-item.grid-sm-2
          h2 Is it beneficial to serve the judges first?
          .number Yes
          .detail Most finales are served head-to-head. But of the #[strong 4] chefs who served the judges first, #[strong 4] won the finale.

      //- Prizes
      .featured
        h2 Total Cash Money Given Away
        .number $3,815,000

      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Top Chef
        .number
          .value $260k
          .name
            span Buddha Lo
            img.avatar(loading='lazy' src='/images/buddha-lo.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Non-Winner
        .number
          .value $45k
          .name
            span Kevin Gillespie
            img.avatar(loading='lazy' src='/images/kevin-gillespie.png')

      .themed.cf
        h1
          span Other Prizes Awarded

        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Trips
          .number 38
        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Cars 
          .number 12
        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Books
          .number 36
        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Knives
          .number 22

        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Computers
          .number 1
        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Super Bowl Tickets
          .number 6
        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Television Spots
          .number 2
        .stat.grid-item.grid-sm-2.grid-lg-4
          h2 Dishes in a Menu/Book
          .number 10

      //- Ingredients: Winners
      //- .featured
      //-   h2 Challenges Won with a Dessert
      //-   .number 33

      //- .stat.grid-item.grid-sm-2.grid-lg-4
      //-   h2 Won with Scallops
      //-   .number 12
      //- .stat.grid-item.grid-sm-2.grid-lg-4
      //-   h2 Won with Risotto
      //-   .number 5
      //- .stat.grid-item.grid-sm-2.grid-lg-4
      //-   h2 Won with Soup
      //-   .number 25
      //- .stat.grid-item.grid-sm-2.grid-lg-4
      //-   h2 Won with Sandwiches
      //-   .number 11

      //- Ingredients: Eliminated
      .featured
        h2 Chefs Eliminated for a Dessert
        .number 19

      .stat.grid-item.grid-sm-2
        h2 Eliminated for Seafood
        .number 105
      .stat.grid-item.grid-sm-2
        h2 Eliminated for Vegetarian Dish
        .number 36

      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Salad
        .number 13
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Soup
        .number 11
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Burgers
        .number 6
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Risotto
        .number 7

      //- Eliminated after winning
      .featured.cf
        h2 Chefs Who Won an Elimination Challenge and Were
        .phrase Eliminated the Next Episode
        .roster
          img.avatar(loading='lazy' src='/images/michael-midgley.png' alt='Michael Midgley')
          img.avatar(loading='lazy' src='/images/lia-bardeen.png' alt='Lia Bardeen')
          img.avatar(loading='lazy' src='/images/dale-talde-s4.png' alt='Dale Talde')
          img.avatar(loading='lazy' src='/images/richie-farina.png' alt='Richie Farina')
          img.avatar(loading='lazy' src='/images/chuy-valencia.png' alt='Chuy Valencia')
          img.avatar(loading='lazy' src='/images/beverly-kim.png' alt='Beverly Kim')
          img.avatar(loading='lazy' src='/images/lindsay-autry.png' alt='Lindsay Autry')
          img.avatar(loading='lazy' src='/images/kuniko-yagi.png' alt='Kuniko Yagi')
          img.avatar(loading='lazy' src='/images/carla-pellegrino.png' alt='Carla Pellegrino')
          img.avatar(loading='lazy' src='/images/john-tesar.png' alt='John Tesar')
          img.avatar(loading='lazy' src='/images/kristen-kish.png' alt='Kristen Kish')
          img.avatar(loading='lazy' src='/images/stephanie-cmar.png' alt='Stephanie Cmar')
          img.avatar(loading='lazy' src='/images/aaron-grissom.png' alt='Aaron Grissom')
          img.avatar(loading='lazy' src='/images/doug-adams.png' alt='Doug Adams')
          img.avatar(loading='lazy' src='/images/phillip-frankland-lee.png' alt='Phillip Frankland Lee')
          img.avatar(loading='lazy' src='/images/carl-dooley.png' alt='Carl Dooley')
          img.avatar(loading='lazy' src='/images/sylva-senat.png' alt='Sylva Senat')
          img.avatar(loading='lazy' src='/images/tanya-holland.png' alt='Tanya Holland')
          img.avatar(loading='lazy' src='/images/joe-flamm.png' alt='Joe Flamm')
          img.avatar(loading='lazy' src='/images/natalie-maronski.png' alt='Natalie Maronski')
          img.avatar(loading='lazy' src='/images/nini-nguyen.png' alt='Nini Nguyen')
          img.avatar(loading='lazy' src='/images/michelle-minori.png' alt='Michelle Minori')
          img.avatar(loading='lazy' src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')
          img.avatar(loading='lazy' src='/images/lee-anne-wong-s17.png' alt='Lee Anne Wong')
          img.avatar(loading='lazy' src='/images/jackson-kalb.png' alt='Jackson Kalb')
          img.avatar(loading='lazy' src='/images/jae-jung.png' alt='Jae Jung')
          img.avatar(loading='lazy' src='/images/amar-santana-s20.png' alt='Amar Santana')

      //- Other Eliminated
      .stat.person.grid-item.grid-sm-1.grid-lg-3-1
        h2 Voluntarily Left Competition
        .number
          .value 5
          .roster
            img.avatar(loading='lazy' src='/images/lee-anne-wong.png' alt='Lee Anne Wong')
            img.avatar(loading='lazy' src='/images/howie-kleinberg.png' alt='Howie Kleinberg')
            img.avatar(loading='lazy' src='/images/mia-gaines-alt.png' alt='Mia Gaines-Alt')
            img.avatar(loading='lazy' src='/images/otto-borsich.png' alt='Otto Borsich')
            img.avatar(loading='lazy' src='/images/cynthia-sestito.png' alt='Cynthia Sestito')
      .stat.person.grid-item.grid-sm-1.grid-lg-3
        h2 Disqualified from Competition
        .number
          .value 1
          .name
            span Cliff Crooks
            img.avatar(loading='lazy' src='/images/cliff-crooks.png')

      //- Show Facts
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Emmy Nominations
        .number 42
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Emmy Wins
        .number 2
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Official Top Chef Cookbooks
        .number 3
