extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef: Just Desserts.'
  - var bodyClass = 'just-desserts'
  - var title = 'Just Desserts'

block content

  .season.desserts

    .intro.center
      img.cake(src='/images/cake.png' alt='piece of cake')
      h1 Top Chef Just Desserts
      h2 Satisfy your Top Chef sweet tooth.

    .grid

      //- Season Overview
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Seasons
        .number 2
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Total Hosts
        .number
          .value 1
          .name
            span Gail Simmons
            img.avatar(src='/images/gail-simmons.png')
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Chefs
        .number 26

      .stat.person.grid-item.grid-sm-2
        h2 Total Judges
        .number
          .value 3
          .roster
            img.avatar(src='/images/johnny-iuzzini.png' alt='Johnny Iuzzini')
            img.avatar(src='/images/hubert-keller.png' alt='Hubert Keller')
            img.avatar(src='/images/dannielle-kyrillos.png' alt='Dannielle Kyrillos')
      .stat.grid-item.grid-sm-1.grid-lg-2
        h2 Gender Breakdown
        .number
          span.icon.man 13
          span.icon.woman 13

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Cities
        .number 1
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Guest Judges
        .number 20
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Frequent Guest Judge
        .number
          .value 4
          .name
            span François Payard
            img.avatar(src='/images/francois-payard.png')

      //- Cities
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Chefs from New York
        .number 5
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Chefs from California
        .number 4
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Chefs from Texas
        .number 4

      //- Winners
      .featured.cf
        h2 Top Chef Just Desserts
        .phrase Season Winners
        .roster
          img.avatar(src='/images/yigit-pura.png' alt='Yigit Pura')
          img.avatar(src='/images/chris-hanmer.png' alt='Chris Hanmer')

      //- Chef Ages
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Chef Age
        .number 33
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Youngest Chef
        .number
          .value 24
          .name
            span Katzie Guy-Hamilton
            img.avatar(src='/images/katzie-guy-hamilton.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Oldest Chef
        .number
          .value 41
          .name
            span Tim Nugent
            img.avatar(src='/images/tim-nugent.png')

      //- Challenge Breakdown
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Average Quickfire Time (min)
        .number 78
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Challenges with a Cookie Jar
        .number 7
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Team Challenges
        .number 11

      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Quickfire Wins
        .number
          .value 3
          .name
            span Morgan Wilson
            img.avatar(src='/images/morgan-wilson.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Elimination Wins
        .number
          .value 4
          .name
            span Matthew Peterson
            img.avatar(src='/images/matthew-peterson.png')
      .stat.person.grid-item.grid-sm-2.grid-lg-3
        h2 Most Overall Wins
        .number
          .value 6
          .name
            span Morgan Wilson
            img.avatar(src='/images/morgan-wilson.png')

      //- Dessert Wars
      .featured.cf
        h2 Dessert Wars Winner (Season 1)
        .phrase Whisk Me Away
        .roster
          img.avatar(src='/images/morgan-wilson.png' alt='Morgan Wilson')
          img.avatar(src='/images/danielle-keene.png' alt='Danielle Keene')
          img.avatar(src='/images/eric-wolitzky.png' alt='Eric Wolitzky')

      .stat.person.grid-item.grid-sm-2
        h2 Challenges Won with Immunity
        .number
          .value 3
          .roster
            img.avatar(src='/images/morgan-wilson.png' alt='Morgan Wilson')
            img.avatar(src='/images/matthew-peterson.png' alt='Matthew Peterson')
            img.avatar(src='/images/amanda-rockman.png' alt='Amanda Rockman')
      .stat.grid-item.grid-sm-2
        h2 Challenges Cooking for Kids
        .number 2

      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Savory Challenges
        .number 4
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Showpieces
        .number 14
      .stat.grid-item.grid-sm-2.grid-lg-3
        h2 Total Edible Dresses
        .number 8

      //- Quickfires
      .themed.cf
        h1
          span Quickfires
        .stat.grid-item.grid-sm-2
          h2 Total Quickfire Challenges
          .number 16
        .stat.grid-item.grid-sm-2
          h2 Total Quickfire Cash Won
          .number $64k

        .stat.grid-item.grid-sm-1
          h2 % of Quickfires That Awarded Prizes
          .grid.percentages
            .percentage.grid-item.grid-xs-2.grid-sm-3
              .number.percentage-60
                span 63%
              h3 Immunity
            .percentage.grid-item.grid-xs-2.grid-sm-3
              .number.percentage-40
                span 44%
              h3 Cash
            .percentage.grid-item.grid-xs-2.grid-sm-3
              .number.percentage-20
                span 25%
              h3 Choose Teammates

        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Mise en Place Quickfires
          .number 1
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 Presentation Quickfires
          .number 1
        .stat.grid-item.grid-sm-2.grid-lg-3
          h2 One-handed Quickfires
          .number 1

      //- Prizes
      .featured
        h2 Total Cash Money Given Away
        .number $334,000

      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Top Chef
        .number
          .value $103k
          .name
            span Yigit Pura
            img.avatar(src='/images/yigit-pura.png')
      .stat.person.grid-item.grid-sm-1.grid-lg-2
        h2 Most Cash Won by a Non-Winner
        .number
          .value $36k
          .name
            span Morgan Wilson
            img.avatar(src='/images/morgan-wilson.png')

      //- Ingredients: Eliminated
      .featured
        h2 Chefs Eliminated for Chocolate
        .number 6

      .stat.grid-item.grid-sm-2
        h2 Eliminated for Lemon Desserts
        .number 3
      .stat.grid-item.grid-sm-2
        h2 Eliminated for a Giant Gummy Bear
        .number 1

      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Cake
        .number 4
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for Donuts
        .number 2
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Eliminated for a Lollipop
        .number 1
      .stat.grid-item.grid-sm-2.grid-lg-4
        h2 Voluntarily Left Competition
        .number 2
