extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 19: Houston'
  - var ogImage = 'restaurant-wars'
  - var bodyClass = 'restaurant-wars'
  - var title = 'Restaurant Wars'

block content

  .season.restaurant-wars

    .intro
      h1
        span Restaurant Wars
        span Full Breakdown

    .rw-grid
