extends _layout

block title
  | | Season 01

block content

  .season.season-01

    .intro
      h1
        span Season 01
        span San Francisco

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Harold Dieterle
        li
          div.chef
          span Tiffani Faison
        li
          div.chef
          span Dave Martin
        li
          div.chef
          span LeAnne Wong
        li
          div.chef
          span Stephen Asprinio
        li
          div.chef
          span Miguel Morales
        li
          div.chef
          span Andrea Beaman
        li
          div.chef
          span Lisa Parks
        li
          div.chef
          span Candice Kumai
        li
          div.chef
          span Brian Hill
        li
          div.chef
          span Cynthia Sestito
        li
          div.chef
          span Ken Lee

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host & Judges
          .roster
            img.avatar(src='/images/katie-lee.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/gail-simmons.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 9

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 22

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 4

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 4
            .name Harold Dieterle
              img.avatar(src='/images/harold-dieterle.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 3
            .name Dave Martin
              img.avatar(src='/images/dave-martin.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 6
            .name Harold Dieterle
              img.avatar(src='/images/harold-dieterle.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .stat.person.grid-item.grid-sm-1
          h2 Lasted 30 Minutes Working the Line at Fleur de Lys
          .number 3
            .roster
              img.avatar(src='/images/tiffani-faison-s1.png')
              img.avatar(src='/images/dave-martin.png')
              img.avatar(src='/images/lee-anne-wong.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase American Workshop
          .roster.center
            .winner
              img.avatar(src='/images/dave-martin.png')
            img.avatar(src='/images/harold-dieterle.png')
            img.avatar(src='/images/tiffani-faison-s1.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Miguel Morales
              img.avatar(src='/images/miguel-morales.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Blindfold Taste Test Winner
          .number 1
            .name Andrea Beaman
              img.avatar(src='/images/andrea-beaman.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 1
            .name Andrea Beaman
              img.avatar(src='/images/andrea-beaman.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Risotto
          .number 1
            .name LeAnne Wong
              img.avatar(src='/images/leanne-wong.png')

        .featured.finale
          h2 Finale Location
          .phrase Las Vegas

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Fatass Snack Master Challenge Winner
          .number 1
            .name Miguel Morales
              img.avatar(src='/images/miguel-morales.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Chefs Who Later Compete in Another Season
          .number 3
            .roster
              img.avatar(src='/images/tiffani-faison-s1.png')
              img.avatar(src='/images/stephen-asprinio-s1.png')
              img.avatar(src='/images/lee-anne-wong.png')
