extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 18: Portland'
  - var bodyClass = 'season-18'
  - var title = 'Season 18'

block content

  .season.season-18

    .intro
      h1
        span Season 18
        span Portland

    .grid

      ol.ranking.current.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span 
        li
          div.chef
          span Jamie Tran
        li
          div.chef
          span Maria Mazon
        li
          div.chef
          span Byron Gomez
        li
          div.chef
          span Chris Viaud
        li
          div.chef
          span Sara Hauman
        li
          div.chef
          span Avishar Barua
        li
          div.chef
          span Gabriel Pascuzzi
        li
          div.chef
          span Nelson German
        li
          div.chef
          span Kiki Louya
        li
          div.chef
          span Brittanny Anderson
        li
          div.chef
          span Sasha Grumman
        li
          div.chef
          span Roscoe Hall

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/richard-blais-s8.png' alt='Richard Blais')
            img.avatar(src='/images/gregory-gourdet-s17.png' alt='Gregory Gourdet')
            img.avatar(src='/images/dale-talde-s8.png' alt='Dale Talde')
            img.avatar(src='/images/carrie-baird.png' alt='Carrie Baird')
            img.avatar(src='/images/kwame-onwuachi.png' alt='Kwame Onwuachi')
            img.avatar(src='/images/melissa-king-s17.png' alt='Melissa King')
            img.avatar(src='/images/kristen-kish.png' alt='Kristen Kish')
            img.avatar(src='/images/brooke-williamson-s14.png' alt='Brooke Williamson')
            img.avatar(src='/images/amar-santana.png' alt='Amar Santana')
            img.avatar(src='/images/edward-lee.png' alt='Edward lee')
            img.avatar(src='/images/nina-compton.png' alt='Nina Compton')
            img.avatar(src='/images/tiffany-derry-s7.png' alt='Tiffany Derry')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 4

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 25

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 6

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Sudden Death Quickfires
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 3
            .name
              span Dawn Burrell
              img.avatar(src='/images/dawn-burrell.png' alt='Dawn Burrell')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 4
            .name
              span Shota Nakajima
              img.avatar(src='/images/shota-nakajima.png' alt='Shota Nakajima')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 5
            .name
              span Shota Nakajima
              img.avatar(src='/images/shota-nakajima.png' alt='Shota Nakajima')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number
            .value 1
            .name
              span Sara Hauman
              img.avatar(src='/images/sara-hauman.png' alt='Sara Hauman')

        //- .featured.relay-race
        //-   h2 Mise en place Race Winner
        //-   .phrase First 5 Finished
        //-   .roster.center
        //-     img.avatar(src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')
        //-     img.avatar(src='/images/jamie-lynch-s17.png' alt='Jamie Lynch')
        //-     img.avatar(src='/images/joe-sasto-s17.png' alt='Joe Sasto')
        //-     img.avatar(src='/images/melissa-king-s17.png' alt='Melissa King')
        //-     img.avatar(src='/images/bryan-voltaggio-s17.png' alt='Bryan Voltaggio')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Kokoson
          .roster.center
            img.avatar(src='/images/shota-nakajima.png' alt='Shota Nakajima')
            img.avatar(src='/images/byron-gomez.png' alt='Byron Gomez')
            img.avatar(src='/images/jamie-tran.png' alt='Jamie Tran')
            .winner
              img.avatar(src='/images/maria-mazon.png' alt='Maria Mazon')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number
            .value 1
            .name
              span Sara Hauman
              img.avatar(src='/images/sara-hauman.png' alt='Sara Hauman')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number
            .value 1
            .name
              span Byron Gomez
              img.avatar(src='/images/byron-gomez.png' alt='Byron Gomez')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Blindfold Taste Test Winner
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Stephanie Cmar
        //-       img.avatar(src='/images/stephanie-cmar-s17.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Fan Favorite
        //-   .number 1
        //-     .name
        //-       span Melissa King
        //-       img.avatar(src='/images/melissa-king-s17.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number
            .value 4
            .name
              span Sasha Grumman
              img.avatar(src='/images/sasha-grumman.png' alt='Sasha Grumman')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Last Chance Kitchen Front Runner
        //-   .number 
        //-     .value 1
        //-     .name
        //-       span Byron Gomez
        //-       img.avatar(src='/images/byron-gomez.png' alt='Byron Gomez')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number
            .value 1
            .name
              span Jamie Tran
              img.avatar(src='/images/jamie-tran.png' alt='Jamie Tran')
              //- img.avatar(src='/images/byron-gomez.png' alt='Byron Gomez')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won
          //- h2 Most Cash Won by a Non-Winner
          .number
            .value $10k
            .roster
              img.avatar(src='/images/avishar-barua.png' alt='Avishar Barua')
              img.avatar(src='/images/chris-viaud.png' alt='Chris Viaud')
              img.avatar(src='/images/byron-gomez.png' alt='Byron Gomez')
              img.avatar(src='/images/gabriel-pascuzzi.png' alt='Gabriel Pascuzzi')
              img.avatar(src='/images/dawn-burrell.png' alt='Dawn Burrell')
              img.avatar(src='/images/shota-nakajima.png' alt='Shota Nakajima')

        //- .featured.finale
        //-   h2 Finale Location
        //-   .phrase The Oregon Coast
