extends _layout

block title
  | | Season 15

block content

  .season.season-15

    .intro
      h1
        span Season 15
        span Colorado

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Joe Flamm
        li
          div.chef
          span Adrienne Cheatham
        li
          div.chef
          span Joe Sasto
        li
          div.chef
          span Carrie Baird
        li
          div.chef
          span Chris Scott
        li
          div.chef
          span Bruce Kalman
        li.fan-fave
          div.chef
          span Fatima Ali
        li
          div.chef
          span Claudette Zepeda-Wilkins
        li
          div.chef
          span Tanya Holland
        li
          div.chef
          span Brother Luck
        li
          div.chef
          span Lee Anne Wong
        li
          div.chef
          span Tu David Phu
        li
          div.chef
          span Tyler Anderson
        li
          div.chef
          span Rogelio Garcia
        li
          div.chef
          span Laura Cole
        li
          div.chef
          span Melissa Perfit

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/gail-simmons.png')
            img.avatar(src='/images/graham-elliot-bowles.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 21

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 27

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 6

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Sudden Death Quickfires
          .number 2

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 3
            .roster
              img.avatar(src='/images/carrie-baird.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 4
            .name Joe Sasto
              img.avatar(src='/images/joe-sasto.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 5
            .roster
              img.avatar(src='/images/carrie-baird.png')
              img.avatar(src='/images/joe-sasto.png')
              img.avatar(src='/images/joe-flamm.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Mise en place Relay Race Winner
          .number 1
            .name Joe Flamm
              img.avatar(src='/images/joe-flamm.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Blindfold Taste Test Winner
        //-   .number 1
        //-     .name Brooke Williamson
        //-       img.avatar(src='/images/brooke-williamson-s14.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 0
            //- .name Emily Hahn
            //-   img.avatar(src='/images/emily-hahn.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Conifer
          .roster.center
            img.avatar(src='/images/carrie-baird.png')
            img.avatar(src='/images/bruce-kalman.png')
            img.avatar(src='/images/adrienne-cheatham.png')
            .winner
              img.avatar(src='/images/joe-flamm.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Claudette Zepeda-Wilkins
              img.avatar(src='/images/claudette-wilkins.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 6
            .name Lee Anne Wong
              img.avatar(src='/images/lee-anne-wong.png')

        .stat.person.grid-item.grid-sm-1
          h2 Last Chance Kitchen Winner
          .number 3
            .roster
              img.avatar(src='/images/claudette-wilkins.png')
              img.avatar(src='/images/lee-anne-wong.png')
              img.avatar(src='/images/joe-flamm.png')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number $25k
            .name Carrie Baird
              img.avatar(src='/images/carrie-baird.png')

        .featured.finale
          h2 Finale Location
          .phrase Telluride & Aspen

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number 2
            .roster
              img.avatar(src='/images/brother-luck.png')
              img.avatar(src='/images/joe-sasto.png')
