extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 3: Miami.'
  - var bodyClass = 'season-03'
  - var title = 'Season 03'

block content

  .season.season-03

    .intro
      h1
        span Season 03
        span Miami

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Hung Huynh
        li
          div.chef
          span Dale Levitski
        li.fan-fave
          div.chef
          span Casey Thompson
        li
          div.chef
          span Brian Malarkey
        li
          div.chef
          span Sara Mair
        li
          div.chef
          span C.J. Jacobson
        li
          div.chef
          span Howie Kleinberg
        li
          div.chef
          span Tre Wilcox
        li
          div.chef
          span Sara Nguyen
        li
          div.chef
          span Joey Paulino
        li
          div.chef
          span Lia Bardeen
        li
          div.chef
          span Camille Becerra
        li
          div.chef
          span Micah Edelstein
        li
          div.chef
          span Sandee Birdsong
        li
          div.chef
          span Clay Bowen

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/ted-allen.png' alt='Ted Allen')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 16

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 27

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 7

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 4
            .name
              span Hung Huynh
              img.avatar(src='/images/hung-huynh.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 3
            .name
              span Tre Wilcox
              img.avatar(src='/images/tre-wilcox-s3.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 6
            .name
              span Hung Huynh
              img.avatar(src='/images/hung-huynh.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Quatre
          .roster.center
            .winner
              img.avatar(src='/images/sara-mair.png' alt='Sara Mair')
            img.avatar(src='/images/hung-huynh.png' alt='Hung Huynh')
            img.avatar(src='/images/howie-kleinberg.png' alt='Howie Kleinberg')
            img.avatar(src='/images/dale-levitski-s3.png' alt='Dale Levitski')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number
            .value 1
            .name
              span Tre Wilcox
              img.avatar(src='/images/tre-wilcox-s3.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Sight/Taste Test Winner
          .number
            .value 1
            .name
              span Casey Thompson
              img.avatar(src='/images/casey-thompson-s3.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number
            .value 2
            .roster
              img.avatar(src='/images/camille-becerra.png' alt='Camille Becerra')
              img.avatar(src='/images/tre-wilcox-s3.png' alt='Tre Wilcox')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Risotto
          .number
            .value 1
            .name
              span Sara Mair
              img.avatar(src='/images/sara-mair.png')

        .featured.relay-race
          h2 Mise en place Relay Race Winner
          .phrase The Garage Team
          .roster.center
            img.avatar(src='/images/sara-mair.png' alt='Sara Mair')
            img.avatar(src='/images/hung-huynh.png' alt='Hung Huynh')
            img.avatar(src='/images/howie-kleinberg.png' alt='Howie Kleinberg')
            img.avatar(src='/images/dale-levitski-s3.png' alt='Dale Levitski')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Cookbooks Won
          .number 17

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Plane Tickets Won
          .number 6

        .featured.finale
          h2 Finale Location
          .phrase Aspen

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number
            .value
            .value 5
            .roster
              img.avatar(src='/images/brian-malarky.png' alt='Brian Malarkey')
              img.avatar(src='/images/tre-wilcox-s3.png' alt='Tre Wilcox')
              img.avatar(src='/images/casey-thompson-s3.png' alt='Casey Thompson')
              img.avatar(src='/images/dale-levitski-s3.png' alt='Dale Levitski')
              img.avatar(src='/images/cj-jacobson-s3.png' alt='C.J. Jacobson')
