extends _layout

block title
  | | Season 16

block content

  .season.season-16

    .intro
      h1
        span Season 16
        span Kentucky

    .grid.cf

      ol.ranking.current.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span David Viana
        li
          div.chef
          span Brian Young
        li
          div.chef
          span Brandon Rosen
        li
          div.chef
          span Brother Luck
        li
          div.chef
          span Nini Nguyen
        li
          div.chef
          span Pablo Lamon
        li
          div.chef
          span Kevin Scharpf
        li
          div.chef
          span Natalie Maronski
        li
          div.chef
          span Caitlin Steininger

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/graham-elliot-bowles.png')
            img.avatar(src='/images/nilou-motamed.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 16

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 15

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 5

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Sudden Death Quickfires
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 2
            .roster
              img.avatar(src='/images/david-viana.png')
              img.avatar(src='/images/justin-sutherland.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 2
            .name Nini Nguyen
              img.avatar(src='/images/nini-nguyen.png')

        .stat.person.grid-item.grid-sm-1.roster-lg
          h2 Most Overall Wins
          .number 2
            .roster
              img.avatar(src='/images/david-viana.png')
              img.avatar(src='/images/nini-nguyen.png')
              img.avatar(src='/images/justin-sutherland.png')
              img.avatar(src='/images/michelle-minori.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Mise en place Relay Race Winner
        //-   .number 1
        //-     .name Joe Flamm
        //-       img.avatar(src='/images/joe-flamm.png')

        //- //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //- //-   h2 Blindfold Taste Test Winner
        //- //-   .number 1
        //- //-     .name Brooke Williamson
        //- //-       img.avatar(src='/images/brooke-williamson-s14.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 3
            .roster
              img.avatar(src='/images/nini-nguyen.png')
              img.avatar(src='/images/kevin-scharpf.png')
              img.avatar(src='/images/natalie-maronski.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase North East
          .roster.center
            img.avatar(src='/images/eric-adjepong.png')
            img.avatar(src='/images/edmund-konrad.png')
            img.avatar(src='/images/adrienne-wright.png')
            .winner
              img.avatar(src='/images/brian-young.png')

        .stat.person.grid-item.grid-sm-1
          h2 Eliminated in Restaurant Wars
          .number 2
            .roster
              img.avatar(src='/images/nini-nguyen.png')
              img.avatar(src='/images/pablo-lamon.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 7
            .name Brother Luck
              img.avatar(src='/images/brother-luck.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number 1
            .name Brother Luck
              img.avatar(src='/images/brother-luck.png')

        .stat.person.grid-item.grid-sm-1.roster-lg
          h2 Most Cash Won
          .number $10k
            .roster
              img.avatar(src='/images/nini-nguyen.png')
              img.avatar(src='/images/eric-adjepong.png')
              img.avatar(src='/images/edmund-konrad.png')
              img.avatar(src='/images/adrienne-wright.png')
              img.avatar(src='/images/brian-young.png')

        //- .featured.finale
        //-   h2 Finale Location
        //-   .phrase Telluride & Aspen
