extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 13: California.'
  - var ogImage = 'season'
  - var bodyClass = 'season-13'
  - var title = 'Season 13'

block content

  .season.season-13

    .intro
      h1
        span Season 13
        span California

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Jeremy Ford
        li
          div.chef
          span Amar Santana
        li.fan-fave
          div.chef
          span Isaac Toups
        li
          div.chef
          span Marjorie Meek-Bradley
        li
          div.chef
          span Carl Dooley
        li
          div.chef
          span Kwame Onwuachi
        li
          div.chef
          span Karen Akunowicz
        li
          div.chef
          span Phillip Frankland Lee
        li
          div.chef
          span Chad White
        li
          div.chef
          span Jason Stratton
        li
          div.chef
          span Wesley True
        li
          div.chef
          span Angelina Bastidas
        li
          div.chef
          span Giselle Wellman
        li
          div.chef
          span Grayson Schmitz
        li
          div.chef
          span Frances Tariga-Weshnak
        li
          div.chef
          span Renee Kelly
        li
          div.chef
          span Garret Fleming

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/emeril-lagasse.png' alt='Emeril Lagasse')
            img.avatar(src='/images/richard-blais-s8.png' alt='Richard Blais')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 20

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 24

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 6

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Sudden Death Quickfires
          .number 2

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 3
            .name
              span Jeremy Ford
              img.avatar(src='/images/jeremy-ford.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 4
            .name
              span Jeremy Ford
              img.avatar(src='/images/jeremy-ford.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 7
            .name
              span Jeremy Ford
              img.avatar(src='/images/jeremy-ford.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 0

        .featured.relay-race
          h2 Mise en place Race Winner
          .phrase First 9 Finished
          .roster.center
            img.avatar(src='/images/renee-kelly.png' alt='Renee Kelly')
            img.avatar(src='/images/wesley-true.png' alt='Wesley True')
            img.avatar(src='/images/isaac-toups.png' alt='Isaac Toups')
            img.avatar(src='/images/amar-santana.png' alt='Amar Santana')
            img.avatar(src='/images/jeremy-ford.png' alt='Jeremy Ford')
            img.avatar(src='/images/carl-dooley.png' alt='Carl Dooley')
            img.avatar(src='/images/frances-tariga-weshnak.png' alt='Frances Tariga-Weshnak')
            img.avatar(src='/images/jason-stratton.png' alt='Jason Stratton')
            img.avatar(src='/images/grayson-schmitz-s13.png' alt='Grayson Schmitz')

        .featured.relay-race
          h2 Tag-Team Cook-Off Winner
          .phrase Blue Team
          .roster.center
            img.avatar(src='/images/amar-santana.png' alt='Amar Santana')
            img.avatar(src='/images/renee-kelly.png' alt='Renee Kelly')
            img.avatar(src='/images/frances-tariga-weshnak.png' alt='Frances Tariga-Weshnak')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Palate
          .roster.center
            .winner
              img.avatar(src='/images/isaac-toups.png' alt='Isaac Toups')
            img.avatar(src='/images/carl-dooley.png' alt='Carl Dooley')
            img.avatar(src='/images/karen-akunowicz.png' alt='Karen Akunowicz')
            img.avatar(src='/images/marjorie-meek-bradley.png' alt='Marjorie Meek-Bradley')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number
            .value 1
            .name
              span Phillip Frankland Lee
              img.avatar(src='/images/phillip-frankland-lee.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .featured.relay-race
          h2 Pop Up Pandemonium Winner
          .phrase Persian Team
          .roster.center
            .winner
              img.avatar(src='/images/marjorie-meek-bradley.png' alt='Marjorie Meek-Bradley')
            img.avatar(src='/images/amar-santana.png' alt='Amar Santana')
            img.avatar(src='/images/isaac-toups.png' alt='Isaac Toups')
            img.avatar(src='/images/angelina-bastidas.png' alt='Angelina Bastidas')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number
            .value 1
            .name
              span Amar Santana
              img.avatar(src='/images/amar-santana.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number
            .value 5
            .name
              span Jason Stratton
              img.avatar(src='/images/jason-stratton.png')

        .featured.finale
          h2 Finale Location
          .phrase Las Vegas

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number
            .value 2
            .roster
              img.avatar(src='/images/karen-akunowicz.png' alt='Karen Akunowicz')
              img.avatar(src='/images/amar-santana.png' alt='Amar Santana')
