extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 9: Texas.'
  - var bodyClass = 'season-09'
  - var title = 'Season 09'

block content

  .season.season-09

    .intro
      h1
        span Season 09
        span Texas

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Paul Qui
        li
          div.chef
          span Sarah Grueneberg
        li
          div.chef
          span Lindsay Autry
        li
          div.chef
          span Beverly Kim
        li
          div.chef
          span Edward Lee
        li
          div.chef
          span Grayson Schmitz
        li
          div.chef
          span Chris Jones
        li
          div.chef
          span Ty-Lör Boring
        li.fan-fave
          div.chef
          span Chris Crary
        li
          div.chef
          span Heather Terhune
        li
          div.chef
          span Nyesha Arrington
        li
          div.chef
          span Dakota Weiss
        li
          div.chef
          span Whitney Otawka
        li
          div.chef
          span Chuy Valencia
        li
          div.chef
          span Richie Farina
        li
          div.chef
          span Keith Rhodes


      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/emeril-lagasse.png' alt='Emeril Lagasse')
            img.avatar(src='/images/hugh-acheson.png' alt='Hugh Acheson')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 15

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 29

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 9

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .stat.person.grid-item.grid-sm-1.roster-lg
          h2 Most Quickfire Wins
          .number 2
            .roster
              img.avatar(src='/images/lindsay-autry.png' alt='Lindsay Autry')
              img.avatar(src='/images/paul-qui.png' alt='Paul Qui')
              img.avatar(src='/images/grayson-schmitz.png' alt='Grayson Schmitz')
              img.avatar(src='/images/sarah-grueneberg.png' alt='Sarah Grueneberg')
              img.avatar(src='/images/ty-lor-boring.png' alt='Ty-Lör Boring')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 9
            .name Paul Qui
              img.avatar(src='/images/paul-qui.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 11
            .name Paul Qui
              img.avatar(src='/images/paul-qui.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Half Bushel
          .roster.center
            .winner
              img.avatar(src='/images/beverly-kim.png' alt='Beverly Kim')
            img.avatar(src='/images/sarah-grueneberg.png' alt='Sarah Grueneberg')
            img.avatar(src='/images/lindsay-autry.png' alt='Lindsay Autry')
            img.avatar(src='/images/grayson-schmitz.png' alt='Grayson Schmitz')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Ty-Lör Boring
              img.avatar(src='/images/ty-lor-boring.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Cars Won
          .number 2
            .roster
              img.avatar(src='/images/heather-terhune.png' alt='Heather Terhune')
              img.avatar(src='/images/paul-qui.png' alt='Paul Qui')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number 1
            .name Beverly Kim
              img.avatar(src='/images/beverly-kim.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 5
            .name Nyesha Arrington
              img.avatar(src='/images/nyesha-arrington.png')

        .featured.relay-race
          h2 Mise en place Relay Race Winner
          .phrase Grayson & Chris
          .roster.center
              img.avatar(src='/images/grayson-schmitz.png')
              img.avatar(src='/images/chris-jones.png')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number $30k
            .name Sarah Grueneberg
              img.avatar(src='/images/sarah-grueneberg.png')

        .featured.finale
          h2 Finale Location
          .phrase Vancouver

        .stat.person.roster-lg.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number 1
            .roster
              img.avatar(src='/images/grayson-schmitz.png' alt='Grayson Schmitz')
