extends _layout

block title
  | | Season 16

block content

  .season.season-16

    .intro
      h1
        span Season 16
        span Kentucky

    .grid.cf

      ol.ranking.current.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span ??
        li
          div.chef
          span Kevin Scharpf
        li
          div.chef
          span Natalie Maronski
        li
          div.chef
          span Caitlin Steininger

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/graham-elliot-bowles.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 6

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 6

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 2

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Sudden Death Quickfires
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 2
            .name David Viana
              img.avatar(src='/images/david-viana.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 2
            .name Nini Nguyen
              img.avatar(src='/images/nini-nguyen.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 2
            .roster
              img.avatar(src='/images/david-viana.png')
              img.avatar(src='/images/nini-nguyen.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Mise en place Relay Race Winner
        //-   .number 1
        //-     .name Joe Flamm
        //-       img.avatar(src='/images/joe-flamm.png')

        //- //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //- //-   h2 Blindfold Taste Test Winner
        //- //-   .number 1
        //- //-     .name Brooke Williamson
        //- //-       img.avatar(src='/images/brooke-williamson-s14.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 2
            .roster
              img.avatar(src='/images/natalie-maronski.png')
              img.avatar(src='/images/natalie-maronski.png')

        //- .featured.restaurant-wars
        //-   h2 Restaurant Wars Winner
        //-   .phrase Conifer
        //-   .roster.center
        //-     img.avatar(src='/images/carrie-baird.png')
        //-     img.avatar(src='/images/bruce-kalman.png')
        //-     img.avatar(src='/images/adrienne-cheatham.png')
        //-     .winner
        //-       img.avatar(src='/images/joe-flamm.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Eliminated in Restaurant Wars
        //-   .number 1
        //-     .name Claudette Zepeda-Wilkins
        //-       img.avatar(src='/images/claudette-wilkins.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 4
            .roster
              img.avatar(src='/images/brother-luck.png')

        //- .stat.roster.grid-item.grid-sm-1
        //-   h2 Last Chance Kitchen Winner
        //-   .number 3
        //-     .roster
        //-       img.avatar(src='/images/claudette-wilkins.png')
        //-       img.avatar(src='/images/lee-anne-wong.png')
        //-       img.avatar(src='/images/joe-flamm.png')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won
          .number $10k
            .name Nini Nguyen
              img.avatar(src='/images/nini-nguyen.png')

        //- .featured.finale
        //-   h2 Finale Location
        //-   .phrase Telluride & Aspen
