extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 10: Seattle.'
  - var bodyClass = 'season-10'
  - var title = 'Season 10'

block content

  .season.season-10

    .intro
      h1
        span Season 10
        span Seattle

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Kristen Kish
        li
          div.chef
          span Brooke Williamson
        li.fan-fave
          div.chef
          span Sheldon Simeon
        li
          div.chef
          span Joshua Valentine
        li
          div.chef
          span Lizzie Binder
        li
          div.chef
          span Stefan Richter
        li
          div.chef
          span Josie Smith-Malave
        li
          div.chef
          span Micah Fields
        li
          div.chef
          span John Tesar
        li
          div.chef
          span Bart Vandaele
        li
          div.chef
          span Danyele McPherson
        li
          div.chef
          span Eliza Gavin
        li
          div.chef
          span C.J. Jacobson
        li
          div.chef
          span Tyler Wiard
        li
          div.chef
          span Carla Pellegrino
        li
          div.chef
          span Chrissy Camba
        li
          div.chef
          span Kuniko Yagi
        li
          div.chef
          span Jeffrey Jew


      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/emeril-lagasse.png' alt='Emeril Lagasse')
            img.avatar(src='/images/hugh-acheson.png' alt='Hugh Acheson')
            img.avatar(src='/images/wolfgang-puck.png' alt='Wolfgang Puck')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 16

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 29

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 8

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 4
            .name
              span Sheldon Simeon
              img.avatar(src='/images/sheldon-simeon.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 5
            .roster
              img.avatar(src='/images/brooke-williamson.png' alt='Brooke Williamson')
              img.avatar(src='/images/kristen-kish.png' alt='Kristen Kish')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 8
            .name
              span Brooke Williamson
              img.avatar(src='/images/brooke-williamson.png')

        .stat.person.grid-item.grid-sm-1
          h2 Total Wins With Immunity
          .number
            .value 2
            .roster
              img.avatar(src='/images/brooke-williamson.png' alt='Brooke Williamson')
              img.avatar(src='/images/kristen-kish.png' alt='Kristen Kish')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Urbano
          .roster.center
            .winner
              img.avatar(src='/images/sheldon-simeon.png' alt='Sheldon Simeon')
            img.avatar(src='/images/joshua-valentine.png' alt='Joshua Valentine')
            img.avatar(src='/images/stefan-richter-s10.png' alt='Stefan Richter')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number
            .value 1
            .name
              span Kristen Kish
              img.avatar(src='/images/kristen-kish.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Risotto
          .number
            .value 1
            .name
              span John Tesar
              img.avatar(src='/images/john-tesar.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number
            .value 1
            .name
              span Kristen Kish
              img.avatar(src='/images/kristen-kish.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number
            .value 7
            .name
              span C.J. Jacobson
              img.avatar(src='/images/cj-jacobson-s10.png')

        .stat.person.grid-item.grid-sm-1
          h2 Total Cars Won
          .number
            .value 2
            .roster
              img.avatar(src='/images/brooke-williamson.png' alt='Brooke Williamson')
              img.avatar(src='/images/sheldon-simeon.png' alt='Sheldon Simeon')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number
            .value $15k
            .name
              span Sheldon Simeon
              img.avatar(src='/images/sheldon-simeon.png')

        .featured.finale
          h2 Finale Location
          .phrase Los Angeles

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number
            .value 3
            .roster
              img.avatar(src='/images/brooke-williamson.png' alt='Brooke Williamson')
              img.avatar(src='/images/sheldon-simeon.png' alt='Sheldon Simeon')
              img.avatar(src='/images/john-tesar.png' alt='John Tesar')
