extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 17: All-Stars L.A.'
  - var bodyClass = 'season-17'
  - var title = 'Season 17'

block content

  .season.season-17

    .intro
      h1
        span Season 17
        span All-Stars L.A.
      p.m0 How did the chefs do in previous seasons?
      p Check out their #[a(href='/allstars-preseason') pre-season stats].

    .grid

      ol.ranking.current.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span Kevin Gillespie
        li
          div.chef
          span Eric Adjepong
        li
          div.chef
          span Nini Nguyen
        li
          div.chef
          span Jennifer Carroll
        li
          div.chef
          span Lisa Fernandes
        li
          div.chef
          span Jamie Lynch
        li
          div.chef
          span Angelo Sosa
        li
          div.chef
          span Joe Sasto

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 13

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 14

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 5

        //- .stat.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Total Sudden Death Quickfires
        //-   .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 3
            .name
              span Kevin Gillespie
              img.avatar(src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 4
            .name
              span Gregory Gourdet
              img.avatar(src='/images/gregory-gourdet-s17.png' alt='Gregory Gourdet')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 6
            .roster
              img.avatar(src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')
              img.avatar(src='/images/gregory-gourdet-s17.png' alt='Gregory Gourdet')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .featured.relay-race
          h2 Mise en place Race Winner
          .phrase First 5 Finished
          .roster.center
            img.avatar(src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')
            img.avatar(src='/images/jamie-lynch-s17.png' alt='Jamie Lynch')
            img.avatar(src='/images/joe-sasto-s17.png' alt='Joe Sasto')
            img.avatar(src='/images/melissa-king-s17.png' alt='Melissa King')
            img.avatar(src='/images/bryan-voltaggio-s17.png' alt='Bryan Voltaggio')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Blindfold Taste Test Winner
        //-   .number 1
        //-     .name Sara Bradley
        //-       img.avatar(src='/images/sara-bradley.png')

        //- .stat.person.grid-item.grid-sm-1
        //-   h2 Eliminated for Dessert
        //-   .number 3
        //-     .roster
        //-       img.avatar(src='/images/nini-nguyen.png' alt='Nini Nguyen')
        //-       img.avatar(src='/images/kevin-scharpf.png' alt='Kevin Scharpf')
        //-       img.avatar(src='/images/natalie-maronski.png' alt='Natalie Maronski')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Kann
          .roster.center
            img.avatar(src='/images/gregory-gourdet-s17.png' alt='Gregory Gourdet')
            img.avatar(src='/images/brian-malarkey-s17.png' alt='Brian Malarkey')
            img.avatar(src='/images/lee-anne-wong-s17.png' alt='Lee Anne Wong')
            img.avatar(src='/images/stephanie-cmar-s17.png' alt='Stephanie Cmar')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number
            .value 1
            .name
              span Kevin Gillespie
              img.avatar(src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Fan Favorite
        //-   .number 1
        //-     .name Kelsey Barnard Clark
        //-       img.avatar(src='/images/kelsey-barnard.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number 2
            .name
              span Karen Akunowicz
              img.avatar(src='/images/karen-akunowicz-s17.png' alt='Karen Akunowicz')

        .stat.person.grid-item.grid-sm-1
          h2 Best Last Chance Kitchen Streak
          .number
            .value 2
            .roster
              img.avatar(src='/images/joe-sasto-s17.png' alt='Joe Sasto')
              img.avatar(src='/images/lisa-fernandes-s17.png' alt='Lisa Fernandes')
              img.avatar(src='/images/karen-akunowicz-s17.png' alt='Karen Akunowicz')
              img.avatar(src='/images/nini-nguyen-s17.png' alt='Nini Nguyen')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won
          .number
            .value $15k
            .name
              span Gregory Gourdet
              img.avatar(src='/images/gregory-gourdet-s17.png')

        //- .featured.finale
        //-   h2 Finale Location
        //-   .phrase Macau, China
