extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 22: Destination Canada'
  - var ogImage = 'season'
  - var bodyClass = 'season-22'
  - var title = 'Season 22'

block content

  .season.season-22

    .intro
      h1
        span Season 22
        span Destination Canada

    .grid

      ol.ranking.grid-item.grid-sm-2.grid-lg-3.current
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span Zubair Mohajir
        li
          div.chef
          span Anya El-Wattar
        li
          div.chef
          span Bailey Sullivan
        li
          div.chef
          span Mimi Weissenborn

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/kristen-kish-host.png' alt='Kristen Kish')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 8

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 8

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 3

        //- .stat.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Total Sudden Death Cookoffs
        //-   .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 2
            .name
              span Katianna Hong
              img.avatar(src='/images/katianna-hong.png' alt='Katianna Hong')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 1
            .roster
              //- span Vinny Loseto
              img.avatar(src='/images/vincenzo-loseto.png' alt='Vinny Loseto')
              img.avatar(src='/images/zubair-mohajir.png' alt='Zubair Mohajir')
              img.avatar(src='/images/katianna-hong.png' alt='Katianna Hong')
              img.avatar(src='/images/tristen-epps.png' alt='Tristen Epps')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 3
            .name
              span Katianna Hong
              img.avatar(src='/images/katianna-hong.png' alt='Katianna Hong')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number
            .value 0
            //- .name
            //-   span Damarr Brown
            //-   img.avatar(src='/images/damarr-brown.png' alt='Damarr Brown')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Full Episode Wins
          .number
            .value 1
            .name
              span Katianna Hong
              img.avatar(src='/images/katianna-hong.png' alt='Katianna Hong')

        //- .featured.relay-race
        //-   h2 Tag-Team Cook-Off Winner
        //-   .phrase Yellow Team
        //-   .roster.center
        //-     img.avatar(src='/images/jo-chan.png' alt='Jo Chan')
        //-     img.avatar(src='/images/monique-feybesse.png' alt='Monique Feybesse')
        //-     img.avatar(src='/images/buddha-lo.png' alt='Buddha Lo')

        //- .featured.relay-race
        //-   h2 Mise en place Race Winner
        //-   .phrase Red &amp; Green Teams
        //-   .roster.center
        //-       img.avatar(src='/images/buddha-lo-s20.png' alt='Buddha Lo')
        //-       img.avatar(src='/images/nicole-gomes.png' alt='Nicole Gomes')
        //-       img.avatar(src='/images/victoire-gouloubi.png' alt='Victoire Gouloubi')
        //-       img.avatar(src='/images/amar-santana-s20.png' alt='Amar Santana')
        //-       img.avatar(src='/images/charbel-hayek.png' alt='Charbel Hayek')
        //-       img.avatar(src='/images/sara-bradley-s20.png' alt='Sara Bradley')

        //- .featured.restaurant-wars
        //-   h2 Restaurant Wars Winner
        //-   .phrase Channel
        //-   .roster.center
        //-     .winner
        //-       img.avatar(src='/images/dan-jacobs.png' alt='Dan Jacobs')
        //-     img.avatar(src='/images/danny-garcia.png' alt='Danny Garcia')
        //-     img.avatar(src='/images/amanda-turner.png' alt='Amanda Turner')
        //-     img.avatar(src='/images/michelle-wallace.png' alt='Michelle Wallace')
        //-     img.avatar(src='/images/savannah-miller.png' alt='Savannah Miller')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Eliminated in Restaurant Wars
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Kaleena Bliss
        //-       img.avatar(src='/images/kaleena-bliss.png' alt='Kaleena Bliss')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Blindfold Taste Test Winner
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Manny Barella
        //-       img.avatar(src='/images/manny-barella.png' alt='Manny Barella')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number
            .value 2
            .roster
              //- span Bailey Sullivan
              img.avatar(src='/images/bailey-sullivan.png' alt='Bailey Sullivan')
              img.avatar(src='/images/anya-el-wattar.png' alt='Anya El-Wattar')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Black Box Challenge Winner
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Dawn Burrell
        //-       img.avatar(src='/images/dawn-burrell.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Fan Favorite
        //-   .number 1
        //-     .name
        //-       span Shota Nakajima
        //-       img.avatar(src='/images/shota-nakajima.png' alt='Shota Nakajima')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number
            .value 3
            .name
              span Bailey Sullivan
              img.avatar(src='/images/bailey-sullivan.png' alt='Bailey Sullivan')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Front Runner
          .number 
            .value 1
            .name
              span Bailey Sullivan
              img.avatar(src='/images/bailey-sullivan.png' alt='Bailey Sullivan')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Last Chance Kitchen Winner
        //-   .number 
        //-     .value 2
        //-     .roster
        //-       //- span Dale MacKay
        //-       img.avatar(src='/images/ying-gao.png' alt='Ying Gao')
        //-       img.avatar(src='/images/samuel-olayinka.png' alt='Samuel Olayinka')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won
          .number
            .value $15k
            .roster
              //- span Katianna Hong
              img.avatar(src='/images/katianna-hong.png' alt='Katianna Hong')
              img.avatar(src='/images/corwin-hemming.png' alt='Corwin Hemming')

        //- .featured.finale
        //-   h2 Finale Location
        //-   .phrase MS Eurodam &amp; Curaçao
