extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 11: New Orleans.'
  - var ogImage = 'season'
  - var bodyClass = 'season-11'
  - var title = 'Season 11'

block content

  .season.season-11

    .intro
      h1
        span Season 11
        span New Orleans

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Nicholas Elmi
        li.fan-fave
          div.chef
          span Nina Compton
        li
          div.chef
          span Shirley Chung
        li
          div.chef
          span Louis Maldonado
        li
          div.chef
          span Carlos Gaytan
        li
          div.chef
          span Brian Huskey
        li
          div.chef
          span Stephanie Cmar
        li
          div.chef
          span Carrie Mashaney
        li
          div.chef
          span Justin Devillier
        li
          div.chef
          span Travis Masar
        li
          div.chef
          span Sara Johannes
        li
          div.chef
          span Patty Vega
        li
          div.chef
          span Bene Bartolotta
        li
          div.chef
          span Michael Sichel
        li
          div.chef
          span Janine Booth
        li
          div.chef
          span Bret Pelaggi
        li
          div.chef
          span Aaron Cuschieri
        li
          div.chef
          span Jason Cichonski
        li
          div.chef
          span Ramon Bojorquez

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/emeril-lagasse.png' alt='Emeril Lagasse')
            img.avatar(src='/images/hugh-acheson.png' alt='Hugh Acheson')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 21

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 30

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 7

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 4
            .name
              span Shirley Chung
              img.avatar(src='/images/shirley-chung.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 4
            .roster
              img.avatar(src='/images/shirley-chung.png' alt='Shirley Chung')
              img.avatar(src='/images/nicholas-elmi.png' alt='Nicholas Elmi')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number
            .value 8
            .name
              span Shirley Chung
              img.avatar(src='/images/shirley-chung.png')

        .stat.person.grid-item.grid-sm-1
          h2 Total Wins With Immunity
          .number
            .value 3
            .roster
              img.avatar(src='/images/carey-mashaney.png' alt='Carey Mashaney')
              img.avatar(src='/images/shirley-chung.png' alt='Shirley Chung')
              img.avatar(src='/images/nina-compton.png' alt='Nina Compton')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase Fin
          .roster.center
            .winner
              img.avatar(src='/images/nicholas-elmi.png' alt='Nicholas Elmi')
            img.avatar(src='/images/stephanie-cmar.png' alt='Stephanie Cmar')
            img.avatar(src='/images/carey-mashaney.png' alt='Carey Mashaney')
            img.avatar(src='/images/travis-masar.png' alt='Travis Masar')
            img.avatar(src='/images/brian-huskey.png' alt='Brian Huskey')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number
            .value 1
            .name
              span Sara Johannes
              img.avatar(src='/images/sara-johannes.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number
            .value 1
            .name
              span Sara Johannes
              img.avatar(src='/images/sara-johannes.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number
            .value 1
            .name
              span Louis Maldonado
              img.avatar(src='/images/louis-maldonado.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number
            .value 8
            .name
              span Louis Maldonado
              img.avatar(src='/images/louis-maldonado.png')

        .stat.person.grid-item.grid-sm-1
          h2 Total Cars Won
          .number
            .value 2
            .roster
              img.avatar(src='/images/shirley-chung.png' alt='Shirley Chung')
              img.avatar(src='/images/carlos-gaytan.png' alt='Carlos Gaytan')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number
            .value $11k
            .name
              span Nina Compton
              img.avatar(src='/images/nina-compton.png')

        .featured.finale
          h2 Finale Location
          .phrase Maui

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number
            .value 2
            .roster
              img.avatar(src='/images/shirley-chung.png' alt='Shirley Chung')
              img.avatar(src='/images/stephanie-cmar.png' alt='Stephanie Cmar')
