extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 12: Boston.'
  - var bodyClass = 'season-12'
  - var title = 'Season 12'

block content

  .season.season-12

    .intro
      h1
        span Season 12
        span Boston

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Mei Lin
        li
          div.chef
          span Gregory Gourdet
        li
          div.chef
          span Doug Adams
        li
          div.chef
          span Melissa King
        li
          div.chef
          span George Pagonis
        li
          div.chef
          span Katsuji Tanabe
        li
          div.chef
          span Adam Harvey
        li
          div.chef
          span Katie Weinner
        li
          div.chef
          span Keriann Von Raesfeld
        li
          div.chef
          span Stacy Cogswell
        li
          div.chef
          span Aaron Grissom
        li
          div.chef
          span James Rigato
        li
          div.chef
          span Rebecca LaMalfa
        li
          div.chef
          span Ron Eyester
        li
          div.chef
          span Joy Crump
        li
          div.chef
          span Michael Patlazhan

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')
            img.avatar(src='/images/hugh-acheson.png' alt='Hugh Acheson')
            img.avatar(src='/images/richard-blais-s8.png' alt='Richard Blais')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 22

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 30

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 6

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 5
            .name Gregory Gourdet
              img.avatar(src='/images/gregory-gourdet.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 5
            .name Gregory Gourdet
              img.avatar(src='/images/gregory-gourdet.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 10
            .name Gregory Gourdet
              img.avatar(src='/images/gregory-gourdet.png')

        .stat.person.grid-item.grid-sm-1
          h2 Total Wins With Immunity
          .number 2
            .roster
              img.avatar(src='/images/gregory-gourdet.png' alt='Gregory Gourdet')
              img.avatar(src='/images/katsuji-tanabe.png' alt='Katsuji Tanabe')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase 4 Pigs
          .roster.center
            .winner
              img.avatar(src='/images/doug-adams.png' alt='Doug Adams')
            img.avatar(src='/images/mei-lin.png' alt='Mei Lin')
            img.avatar(src='/images/melissa-king.png' alt='Melissa King')
            img.avatar(src='/images/adam-harvey.png' alt='Adam Harvey')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Keriann Von Raesfeld
              img.avatar(src='/images/keriann-von-raesfeld.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 1
            .name Keriann Von Raesfeld
              img.avatar(src='/images/keriann-von-raesfeld.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Last Chance Kitchen Winner
          .number 1
            .name Doug Adams
              img.avatar(src='/images/doug-adams.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Best Last Chance Kitchen Streak
          .number 6
            .name Rebecca LaMalfa
              img.avatar(src='/images/rebecca-lamalfa.png')

        .featured.relay-race
          h2 Mise en place Relay Race Winner
          .phrase The Green Team
          .roster.center
            img.avatar(src='/images/aaron-grissom.png' alt='Aaron Grissom')
            img.avatar(src='/images/adam-harvey.png' alt='Adam Harvey')
            img.avatar(src='/images/doug-adams.png' alt='Doug Adams')
            img.avatar(src='/images/keriann-von-raesfeld.png' alt='Keriann Von Raesfeld')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number $15k
            .name Melissa King
              img.avatar(src='/images/melissa-king.png')

        .featured.finale
          h2 Finale Location
          .phrase San Miguel de Allende

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number 3
            .roster
              img.avatar(src='/images/katsuji-tanabe.png' alt='Katsuji Tanabe')
              img.avatar(src='/images/gregory-gourdet.png' alt='Gregory Gourdet')
              img.avatar(src='/images/melissa-king.png' alt='Melissa King')
