extends _layout

block vars
  - var pageDescription = 'Compiled stats and facts from Top Chef Season 20: World All-Stars'
  - var ogImage = 'season'
  - var bodyClass = 'season-20'
  - var title = 'Season 20'

block content

  .season.season-20

    .intro
      h1
        span Season 20
        span World All-Stars

    .grid

      ol.ranking.current.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span 
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span
        li
          div.chef
          span Dawn Burrell
        li
          div.chef
          span Samuel Albert

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host &amp; Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png' alt='Padma Lakshmi')
            img.avatar(src='/images/tom-colicchio.png' alt='Tom Colicchio')
            img.avatar(src='/images/gail-simmons.png' alt='Gail Simmons')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Shows Represented
          .number 11

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 3

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 4

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 1

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Sudden Death Quickfires
          .number 0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number
            .value 1
            .roster
              img.avatar(src='/images/may-phattanant-thongthong.png' alt='May Phattanant Thongthong')
              img.avatar(src='/images/sara-bradley-s20.png' alt='Sara Bradley')
              img.avatar(src='/images/dale-mackay.png' alt='Dale MacKay')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number
            .value 1
            .roster
              //- span Charbel Hayek
              img.avatar(src='/images/ali-ghzawi.png' alt='Ali Ghzawi')
              img.avatar(src='/images/charbel-hayek.png' alt='Charbel Hayek')

        .stat.person.grid-item.grid-sm-1
          h2 Most Overall Wins
          .number
            .value 1
            .roster
              img.avatar(src='/images/ali-ghzawi.png' alt='Ali Ghzawi')
              img.avatar(src='/images/may-phattanant-thongthong.png' alt='May Phattanant Thongthong')
              img.avatar(src='/images/sara-bradley-s20.png' alt='Sara Bradley')
              img.avatar(src='/images/dale-mackay.png' alt='Dale MacKay')
              img.avatar(src='/images/charbel-hayek.png' alt='Charbel Hayek')

        .stat.person.grid-item.grid-sm-1
          h2 Total Wins With Immunity
          .number
            .value 0
            //- .name
            //-   span Damarr Brown
            //-   img.avatar(src='/images/damarr-brown.png' alt='Damarr Brown')

        //- .featured.relay-race
        //-   h2 Tag-Team Cook-Off Winner
        //-   .phrase Yellow Team
        //-   .roster.center
        //-     img.avatar(src='/images/jo-chan.png' alt='Jo Chan')
        //-     img.avatar(src='/images/monique-feybesse.png' alt='Monique Feybesse')
        //-     img.avatar(src='/images/buddha-lo.png' alt='Buddha Lo')

        //- .featured.relay-race
        //-   h2 Mise en place Race Winner
        //-   .phrase First 5 Finished
        //-   .roster.center
        //-     img.avatar(src='/images/kevin-gillespie-s17.png' alt='Kevin Gillespie')
        //-     img.avatar(src='/images/jamie-lynch-s17.png' alt='Jamie Lynch')
        //-     img.avatar(src='/images/joe-sasto-s17.png' alt='Joe Sasto')
        //-     img.avatar(src='/images/melissa-king-s17.png' alt='Melissa King')
        //-     img.avatar(src='/images/bryan-voltaggio-s17.png' alt='Bryan Voltaggio')

        //- .featured.restaurant-wars
        //-   h2 Restaurant Wars Winner
        //-   .phrase Matriarc
        //-   .roster.center
        //-     img.avatar(src='/images/nick-wallace.png' alt='Nick Wallace')
        //-     .winner
        //-       img.avatar(src='/images/ashleigh-shanti.png' alt='Ashleigh Shanti')
        //-     img.avatar(src='/images/damarr-brown.png' alt='Damarr Brown')
        //-     img.avatar(src='/images/buddha-lo.png' alt='Buddha Lo')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Eliminated in Restaurant Wars
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Jackson Kalb
        //-       img.avatar(src='/images/jackson-kalb.png' alt='Jackson Kalb')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Eliminated for Dessert
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Jackson Kalb
        //-       img.avatar(src='/images/jackson-kalb.png' alt='Jackson Kalb')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Black Box Challenge Winner
        //-   .number
        //-     .value 1
        //-     .name
        //-       span Dawn Burrell
        //-       img.avatar(src='/images/dawn-burrell.png')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Fan Favorite
        //-   .number 1
        //-     .name
        //-       span Shota Nakajima
        //-       img.avatar(src='/images/shota-nakajima.png' alt='Shota Nakajima')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Best Last Chance Kitchen Streak
        //-   .number
        //-     .value 7
        //-     .name
        //-       span Sarah Welch
        //-       img.avatar(src='/images/sarah-welch.png' alt='Sarah Welch')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Last Chance Kitchen Front Runner
        //-   .number 
        //-     .value 1
        //-     .name
        //-       span Sarah Welch
        //-       img.avatar(src='/images/sarah-welch.png' alt='Sarah Welch')

        //- .stat.person.grid-item.grid-sm-1.grid-lg-2
        //-   h2 Last Chance Kitchen Winner
        //-   .number
        //-     .value 2
        //-     .roster
        //-       // span Ashleigh Shanti
        //-       img.avatar(src='/images/ashleigh-shanti.png' alt='Ashleigh Shanti')
        //-       img.avatar(src='/images/sarah-welch.png' alt='Sarah Welch')

        .stat.person.grid-item.grid-sm-1
          //- h2 Most Cash Won by a Non-Winner
          h2 Most Cash Won
          .number
            .value $10k
            .name
              span May Phattanant Thongthong
              img.avatar(src='/images/may-phattanant-thongthong.png' alt='May Phattanant Thongthong')

        .featured.finale
          h2 Finale Location
          .phrase Paris, France
