extends ../layout

block title
  | | Season 07

block content

  .season.season-07

    h1
      span Season 07
      span Washington D.C.

    ol.ranking.cf
      li
        div.chef
        span Kevin Sbraga
      li
        div.chef
        span Ed Cotton
      li
        div.chef
        span Angelo Sosa
      li
        div.chef
        span Kelly Liken
      li
        div.chef
        span Tiffany Derry
      li
        div.chef
        span Amanda Baumgarten
      li
        div.chef
        span Alex Reznik
      li
        div.chef
        span Kenny Gilbert
      li
        div.chef
        span Stephen Hopcraft
      li
        div.chef
        span Andrea Curt-Randazzo
      li
        div.chef
        span Tamesha Warren
      li
        div.chef
        span Timothy Dean
      li
        div.chef
        span Arnold Myint
      li
        div.chef
        span Lynne Gigliotti
      li
        div.chef
        span Tracey Bloom
      li
        div.chef
        span Jacqueline Lombard
      li
        div.chef
        span John Somerville
