extends ../layout

block title
  | | Season 07

block content

  .season.season-07

    .intro
      h1
        span Season 07
        span Washington D.C.

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Kevin Sbraga
        li
          div.chef
          span Ed Cotton
        li
          div.chef
          span Angelo Sosa
        li
          div.chef
          span Kelly Liken
        li.fan-fave
          div.chef
          span Tiffany Derry
        li
          div.chef
          span Amanda Baumgarten
        li
          div.chef
          span Alex Reznik
        li
          div.chef
          span Kenny Gilbert
        li
          div.chef
          span Stephen Hopcraft
        li
          div.chef
          span Andrea Curt-Randazzo
        li
          div.chef
          span Tamesha Warren
        li
          div.chef
          span Timothy Dean
        li
          div.chef
          span Arnold Myint
        li
          div.chef
          span Lynne Gigliotti
        li
          div.chef
          span Tracey Bloom
        li
          div.chef
          span Jacqueline Lombard
        li
          div.chef
          span John Somerville


      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/gail-simmons.png')
            img.avatar(src='/images/eric-ripert.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 17

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 27

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 7

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 4
            .name Angelo Sosa
              img.avatar(src='/images/angelo-sosa-s7.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 3
            .name Ed Cotton
              img.avatar(src='/images/ed-cotton.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 6
            .roster
              img.avatar(src='/images/angelo-sosa-s7.png')
              img.avatar(src='/images/ed-cotton.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 1
            .name Tiffany Derry
              img.avatar(src='/images/tiffany-derry-s7.png')

        .featured.relay-race
          h2 Tag-Team Cook-Off Winner
          .phrase Blue Team
          .roster.center
            img.avatar(src='/images/kelly-liken.png')
            img.avatar(src='/images/amanda-baumgarten.png')
            img.avatar(src='/images/kenny-gilbert.png')
            img.avatar(src='/images/kevin-sbraga.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Mise en place Relay Race Winner
          .number 1
            .name Angelo Sosa
              img.avatar(src='/images/angelo-sosa-s7.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Cars Won
          .number 1
            .name Angelo Sosa
              img.avatar(src='/images/angelo-sosa-s7.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase EVOO
          .roster.center
            .winner
              img.avatar(src='/images/ed-cotton.png')
            img.avatar(src='/images/alex-reznik.png')
            img.avatar(src='/images/angelo-sosa-s7.png')
            img.avatar(src='/images/tiffany-derry-s7.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Kenny Gilbert
              img.avatar(src='/images/kenny-gilbert.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 3
            .roster
              img.avatar(src='/images/john-somerville.png')
              img.avatar(src='/images/jacqueline-lombard.png')
              img.avatar(src='/images/kenny-gilbert.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Risotto
          .number 1
            .name Andrea Curto-Randazzo
              img.avatar(src='/images/andrea-curto-randazzo.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Trips Won
          .number 6

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number $40k
            .name Angelo Sosa
              img.avatar(src='/images/angelo-sosa-s7.png')

        .featured.finale
          h2 Finale Location
          .phrase Singapore

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number 2
            .roster
              img.avatar(src='/images/angelo-sosa-s7.png')
              img.avatar(src='/images/tiffany-derry-s7.png')