extends ../layout

block title
  | | Season 06

block content

  .season.season-06

    .intro
      h1
        span Season 06
        span Las Vegas

    .grid.cf

      ol.ranking.grid-item.grid-sm-2.grid-lg-3
        li
          div.chef
          span Michael Voltaggio
        li
          div.chef
          span Bryan Voltaggio
        li.fan-fave
          div.chef
          span Kevin Gillespie
        li
          div.chef
          span Jennifer Carroll
        li
          div.chef
          span Eli Kirshtein
        li
          div.chef
          span Robin Leventhal
        li
          div.chef
          span Mike Isabella
        li
          div.chef
          span Laurine Wickett Hope
        li
          div.chef
          span Ash Fulk
        li
          div.chef
          span Ashley Merriman
        li
          div.chef
          span Ron Duprat
        li
          div.chef
          span Mattin Noblia
        li
          div.chef
          span Hector Santiago
        li
          div.chef
          span Jesse Sandlin
        li
          div.chef
          span Preeti Mistry
        li
          div.chef
          span Eve Aronoff
        li
          div.chef
          span Jen Zavala

      .grid-item.grid-sm-2.grid-lg-3-1.p0

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Host & Judges
          .roster
            img.avatar(src='/images/padma-lakshmi.png')
            img.avatar(src='/images/tom-colicchio.png')
            img.avatar(src='/images/gail-simmons.png')
            img.avatar(src='/images/toby-young.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Guest Judges
          .number 15

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Challenges
          .number 27

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Team Challenges
          .number 7

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Quickfire Wins
          .number 4
            .roster
              img.avatar(src='/images/jennifer-carroll-s6.png')
              img.avatar(src='/images/kevin-gillespie.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Elimination Wins
          .number 5
            .name Kevin Gillespie
              img.avatar(src='/images/kevin-gillespie.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Most Overall Wins
          .number 9
            .name Kevin Gillespie
              img.avatar(src='/images/kevin-gillespie.png')

        .stat.grid-item.grid-sm-1.grid-lg-2
          h2 Total Wins With Immunity
          .number 0

        .featured.relay-race
          h2 Tag-Team Cook-Off Winner
          .phrase 1st Choice Team
          .roster.center
            img.avatar(src='/images/jennifer-carroll-s6.png')
            img.avatar(src='/images/kevin-gillespie.png')
            img.avatar(src='/images/laurine-wickett-hope.png')
            img.avatar(src='/images/mike-isabella-s6.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Mise en place Relay Race Winner
          .number 1
            .name Jennifer Carroll
              img.avatar(src='/images/jennifer-carroll-s6.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Total Cars Won
          .number 1
            .name Michael Voltaggio
              img.avatar(src='/images/michael-voltaggio.png')

        .featured.restaurant-wars
          h2 Restaurant Wars Winner
          .phrase REVolt
          .roster.center
            .winner
              img.avatar(src='/images/michael-voltaggio.png')
            img.avatar(src='/images/bryan-voltaggio.png')
            img.avatar(src='/images/eli-kirshtein.png')
            img.avatar(src='/images/robin-leventhal.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated in Restaurant Wars
          .number 1
            .name Laurine Wickett Hope
              img.avatar(src='/images/laurine-wickett-hope.png')

        .stat.person.grid-item.grid-sm-1.grid-lg-2
          h2 Eliminated for Dessert
          .number 1
            .name Robin Leventhal
              img.avatar(src='/images/robin-leventhal.png')

        .stat.person.grid-item.grid-sm-1
          h2 Most Cash Won by a Non-Winner
          .number $45k
            .name Kevin Gillespie
              img.avatar(src='/images/kevin-gillespie.png')

        .featured.finale
          h2 Finale Location
          .phrase Napa

        .stat.person.grid-item.grid-sm-1
          h2 Chefs Who Later Compete in Another Season
          .number 2
            .roster
              img.avatar(src='/images/mike-isabella-s6.png')
              img.avatar(src='/images/jennifer-carroll-s6.png')