extends ../layout

block title
  | | Season 06

block content

  .season.season-06

    h1
      span Season 06
      span Las Vegas

    ol.ranking.cf
      li
        div.chef
        span Michael Voltaggio
      li
        div.chef
        span Bryan Voltaggio
      li
        div.chef
        span Kevin Gillespie
      li
        div.chef
        span Jennifer Carroll
      li
        div.chef
        span Eli Kirshtein
      li
        div.chef
        span Robin Leventhal
      li
        div.chef
        span Mike Isabella
      li
        div.chef
        span Laurine Wickett Hope
      li
        div.chef
        span Ash Fulk
      li
        div.chef
        span Ashley Merriman
      li
        div.chef
        span Ron Duprat
      li
        div.chef
        span Mattin Noblia
      li
        div.chef
        span Hector Santiago
      li
        div.chef
        span Jesse Sandlin
      li
        div.chef
        span Preeti Mistry
      li
        div.chef
        span Eve Aronoff
      li
        div.chef
        span Jen Zavala