extends ../layout

block title
  | | Season 09

block content

  .season.season-09

    h1
      span Season 09
      span Texas

    ol.ranking.cf
      li
        div.chef
        span Paul Qui
      li
        div.chef
        span Sarah Grueneberg
      li
        div.chef
        span Lindsay Autry
      li
        div.chef
        span Beverly Kim
      li
        div.chef
        span Edward Lee
      li
        div.chef
        span Grayson Schmitz
      li
        div.chef
        span Chris Jones
      li
        div.chef
        span Ty-Lör Boring
      li
        div.chef
        span Chris Crary
      li
        div.chef
        span Heather Terhune
      li
        div.chef
        span Nyesha Arrington
      li
        div.chef
        span Dakota Weiss
      li
        div.chef
        span Whitney Otawka
      li
        div.chef
        span Chuy Valencia
      li
        div.chef
        span Richie Farina
      li
        div.chef
        span Keith Rhodes
