extends ../layout

block content

  .season-01

    h1
      span Season 01
      span San Francisco

    ol.ranking.cf
      li
        div.chef
        span Harold Dieterle
      li
        div.chef
        span Tiffani Faison
      li
        div.chef
        span Dave Martin
      li
        div.chef
        span LeAnne Wong
      li
        div.chef
        span Stephen Asprinio
      li
        div.chef
        span Miguel Morales
      li
        div.chef
        span Andrea Beaman
      li
        div.chef
        span Lisa Parks
      li
        div.chef
        span Candice Kumai
      li
        div.chef
        span Brian Hill
      li
        div.chef
        span Cynthia Sestito
      li
        div.chef
        span Ken Lee

