// Base styling

*, *:after, *:before
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  font-size: 100%
  -webkit-text-size-adjust: none

body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  font-family: $font-family-helvetica
  font-size: 18px
  line-height: 1.4
  color: white

::-moz-selection
  background-color: mediumorchid
  color: white

::selection
  background-color: mediumorchid
  color: white

a
  display: inline-block
  text-decoration: none
  color: cyan

p a
  border-bottom: 1px dotted transparent
  &:hover
    border-bottom: 1px dotted cyan

h1
  margin: 0 20px 15px
  font-size: 50px
  font-weight: bold
  text-align: center

  @media screen and (max-width: 500px)
    font-size: 35px

  span
    display: block

    &:last-of-type
      font-size: 30px

h2
  font-size: 18px

.intro
  margin: 0 auto 30px
  padding: 30px 15px
  background: black(.1)
  text-align: center

  @media screen and (min-width: 701px)
    margin-bottom: 60px
  @media screen and (min-width: 1001px)
    margin-bottom: 100px

  p
    max-width: 500px
    margin: 0 auto 20px

.footnote
  font-size: 14px
  color: white(.6)


// Clearfix
.cf,
.grid
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both