.callout
  padding: 15px
  background: white(.1)
  border: 1px dotted white(.3)
  border-radius: 5px
  text-align: center

  h2
    padding-bottom: 15px
    border-bottom: 1px solid white(.2)

  .number
    margin: 30px 0 20px
    font-size: 30px
    font-weight: bold
    text-transform: uppercase