.grid
  margin-bottom: 60px

  .grid-item
    padding: 0 25px
    float: left

    &.p0
      padding: 0

.grid-item

  .grid:last-child
    margin-bottom: 0

.grid-five
  .grid-item
    width: 20%

.grid-four
  .grid-item
    width: 25%

.grid-three
  .grid-item
    width: 33.33%

.grid-two
  .grid-item
    width: 50%