.nav-main
  height: 45px
  position: relative
  background: #333

  a, label
    color: white

  .nav-home
    margin: 10px 20px
    float: left

  input.menu-toggle
    visibility: hidden
    position: absolute
    left: -100%

  label
    padding: 10px 20px
    float: right
    background: purple
    border-left: 1px solid white(.2)
    cursor: pointer

  .nav-seasons
    display: none
    position: absolute
    top: 45px
    left: 0
    z-index: 100

  .menu-toggle:checked ~ .nav-seasons
    display: block

  .nav-seasons
    background-image: linear-gradient(to right, steelblue, mediumvioletred)

.nav-seasons
  width: 100%
  background-image: linear-gradient(to right, steelblue, darkcyan)
  border-top: 1px solid white(.3)
  box-shadow: 0 3px 3px black(.2)

  li
    float: left
    border-bottom: 1px solid white(.3)

    &:not(:last-child)
      border-right: 1px solid white(.3)

    a
      padding: 10px
      display: block
      color: white

      &:hover
        background: black(.1)

    span
      display: block

    span:first-of-type
      font-size: 24px
      font-weight: bold

    span:nth-of-type(2)
      font-size: 15px

@media screen and (max-width: 500px)

  .nav-seasons li
    width: 25%

    &:nth-child(4),
    &:nth-child(8)
      border-right: none

@media screen and (min-width: 501px) and (max-width: 950px)

  .nav-seasons li
    width: 16.66%

    &:nth-child(6)
      border-right: none

@media screen and (min-width: 951px)

  .nav-seasons li
    width: 8.33%