$nav-height-tall = 80px
$nav-height-short = 45px

.nav-main
  position: relative
  background: #333

  .nav-home
    display: block

  a, label
    color: white

  .nav-links

    label:hover
      cursor: pointer

    label, & > a
      display: block
      float: left
      background: white(.15)
      border-left: 1px solid white(.2)

      &:hover
        background: white(.2)

  input.menu-toggle
    visibility: hidden
    position: absolute
    left: -100%

  .nav-seasons
    display: none
    position: absolute
    left: 0
    z-index: 100

  .menu-toggle:checked ~ .nav-seasons
    display: block

  .nav-seasons
    background-image: linear-gradient(to right, steelblue, mediumvioletred)

@media screen and (max-width: 600px)

  .nav-main
    height: $nav-height-tall
    font-size: 15px

    .nav-home
      height: 40px
      padding: 10px
      text-align: center

    .nav-links

      label, & > a
        height: 40px
        padding: 10px
        text-align: center

      label
        width: 38%

      & > a
        width: 31%

  .nav-seasons
    top: $nav-height-tall

@media screen and (min-width: 601px)

  .nav-main
    height: $nav-height-short

    .nav-home
      padding: 10px 20px
      float: left

    .nav-links
      float: right

      label, & > a
        height: 100%
        padding: 10px 20px

  .nav-seasons
    top: $nav-height-short