.stat {
  position: relative;
  font-size: 85px;
  font-weight: bold;
}
.stat.inline {
  display: inline-block;
}
.stat.inline + .inline {
  margin-left: 10px;
}
.stat.woman,
.stat.man {
  background: no-repeat left center;
  background-size: auto 50px;
  padding-left: 40px;
}
.stat.woman {
  background-image: url("../images/woman.svg");
}
.stat.man {
  background-image: url("../images/man.svg");
}
.stat .name {
  margin-left: 10px;
  padding: 8px 45px 6px 10px;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 40px;
  background: black(0.2);
  border-radius: 3px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}
.stat .name .avatar {
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  top: -32px;
  right: -45px;
}
.featured {
  margin-bottom: 80px;
  padding: 30px 0 20px;
  background: black(0.1);
  text-align: center;
}
.featured h2 {
  border: none;
}
