.stat

  img:not(.avatar)
    width: 100%
    max-width: 100%

.number
  position: relative
  font-weight: bold

  span
    display: inline-block

  span + span
    margin-left: 15px

  .roster
    position: absolute
    right: 0

.name
  margin-left: 10px
  display: inline-block
  position: absolute
  background: black(.2)
  border-radius: 3px
  font-weight: normal
  line-height: 1

  &:left
    margin-left: 0

  .avatar
    display: block
    position: absolute

.featured
  padding: 30px 20px 20px
  background: black(.1)
  text-align: center

.restaurant-wars
  .roster .avatar
    margin-bottom: 15px

.restaurant-wars,
.finale,
.relay-race
  .number
    margin-bottom: 20px
    font-size: 40px
    line-height: 1.2

.roster
  h2
    margin-bottom: 20px
  .avatar
    margin: 0 -5px
    position: relative
    z-index: 2
  .winner
    display: inline-block
    position: relative
    &:before
      width: 100%
      display: block
      position: absolute
      left: 0
      top: 92px
      content: 'WINNER!'
      z-index: 1
      font-size: 11px
      font-weight: bold
      letter-spacing: 1px
      color: white


@media screen and (min-width: 701px)

  .number
    font-size: 85px

    .roster
      top: 15px

  .stat

    h2
      border-bottom: 1px solid white(.5)

  .woman,
  .man
    background-position: left center
    background-size: auto 50px
    padding-left: 40px

  .name
    padding: 8px 45px 6px 10px
    top: 50px
    right: 40px
    font-size: 16px

    .avatar
      top: -32px
      right: -45px

  .featured
    margin: 0 0 80px
    clear: left

@media screen and (max-width: 700px)

  .stat

    &:not(.person)
      padding: 10px 0
      border-bottom: 1px solid white(.5)

      &:last-child
        border-bottom: none

      h2
        padding-top: 10px
        float: left

      .number
        text-align: right
        font-size: 30px

      .woman,
      .man
        background-position: left 9px
        background-size: auto 23px
        padding-left: 23px

    &.person
      margin: 15px 0

      h2
        padding: 20px 0 5px
        border-bottom: 1px solid white(.5)

      .number
        font-size: 55px

        .roster
          top: 8px

      .name
        padding: 8px 40px 8px 10px
        top: 25px
        right: 30px
        font-size: 15px

        .avatar
          top: -15px
          right: -35px

  .featured
    margin: 30px 0