include nav-seasons
footer
  .container
    p This site is not affiliated with Top Chef or Bravo Media.

    p Curious about terms or numbers? 
      a(href='/glossary') Read the Glossary.
      <br />
      | Got a good stat to add? 
      a(href='https://twitter.com/lynnandtonic') Tweet at me.

    p.footnote Made with love by #[a(href='https://twitter.com/lynnandtonic') @lynnandtonic].

    p.coffee #[span Like this site?]
     a(href="https://www.buymeacoffee.com/lynnandtonic") Buy me a coffee
