nav.nav-main.cf(role='navigation')

  a.nav-home(href='/') Top Chef Stats

  .nav-links.cf
    input.menu-toggle(id='menu-toggle', type='checkbox')
    label(for='menu-toggle') Seasons

    include nav-seasons

    a(href='/masters') Masters
    a.wide(href='/just-desserts') Just Desserts
    a(href='/duels') Duels
    a(href='/goat') GOAT
