footer
  .container
    p This site is not affiliated with Top Chef or Bravo Media, LLC.

    p Curious about the numbers? 
      a(href='/about') Read the FAQ.

    p.footnote Made with love by 
      a(href='https://twitter.com/lynnandtonic') @lynnandtonic
      | .