ul.nav-seasons.cf
  li: a(href='/season-01')
    span 01
    span S.F.
  li: a(href='/season-02')
    span 02
    span L.A.
  li: a(href='/season-03')
    span 03
    span Miami
  li: a(href='/season-04')
    span 04
    span Chicago
  li: a(href='/season-05')
    span 05
    span N.Y.
  li: a(href='/season-06')
    span 06
    span Vegas
  li: a(href='/season-07')
    span 07
    span D.C.
  li: a(href='/season-08')
    span 08
    span All-Stars
  li: a(href='/season-09')
    span 09
    span Texas
  li: a(href='/season-10')
    span 10
    span Seattle
  li: a(href='/season-11')
    span 11
    span NOLA
  li: a(href='/season-12')
    span 12
    span Boston