nav.nav-main.cf(role='navigation')

  a.nav-home(href='/') Top Chef Stats

  .nav-links.cf
    input.menu-toggle(id='menu-toggle', type='checkbox')
    label(for='menu-toggle') Select a Season

    include nav-seasons

    a(href='/masters') Masters
    a(href='/just-desserts') Just Desserts